<ion-nav-view cache-view="true">
<ion-content  overflow-scroll="true">


    <div style="height: 30px;">&nbsp;</div>
    <div class="row">
        <div class="col-xs-12" id="translations">
            <div ng-repeat="verse in verses">
                <div class="well translations col-xs-12" id="v_{{verse.id}}">
                    <div ng-repeat="translation in verse.translations">
                        <div ng-if="$first"><h4>{{translation.chapter}}:{{translation.verse}}</h4></div>
                        <div  id="t_{{translation.id}}">
                            <div class="col-xs-12 col-sm-3 authorDiv_{{authorMap[translation.authorId].color}}">
                                {{authorMap[translation.authorId].name}}
                            </div>
                            <div class="col-xs-12 col-sm-9 translation_content"><span
                                    ng-bind-html="translation.content | with_footnote_link:translation.id:translation.authorId | to_trusted" class="selectable"></span>
                            </div>
                        </div>
                        <show-verse data="showVerseData.data" ng-if="showVerseAtTranslation==translation.id"
                                    class="showVerseData"></show-verse>
                        <div class="row" ng-if="!$last">
                            <hr/>
                        </div>
                    </div>
                    <div ng-repeat="(verseTagsKey, verseTagsVal) in verseTagsJSON"
                         ng-if="verseTagsVal.verseId==verse.id" style="text-align: right;width:100%">
                        <hr/>
                        <button ng-repeat="verseTag in verseTagsVal.tags" class="btn btn-xs btn-info verse_tag"
                                ng-click="goToVerseTag(verse.id,verseTag.tag)" onclick="verseTagClicked(this)">
                            {{verseTag.tag}}
                        </button>
                    </div>
                    <div ng-if="targetVerseForTagContent==verse.id" class="verse_tag_content">
                        <h4>Etiketli Ayetler</h4>
                        <select class="verseTagContentAuthor"
                                ng-options="author.id as author.name for author in authors | filter:authorFilter"
                                ng-model="verseTagContentAuthor"
                                ng-change="verseTagContentAuthorUpdate(verseTagContentAuthor)">
                        </select>


                        <div ng-repeat="verseTagContent in verseTagContents">
                            <div ng-repeat="verseTagContentTranslation in verseTagContent.translations"
                                 ng-if="verseTagContentTranslation.authorId==verseTagContentAuthor">
                                <strong>{{verseTagContentTranslation.verseId / 1000 |
                                    number:0}}:{{verseTagContentTranslation.verseId % 1000}}</strong>
                                {{verseTagContentTranslation.content}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ion-content>
</ion-nav-view>