<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced">
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                <button menu-toggle="left" class="button button-icon icon ion-arrow-right-b"></button>
                <button menu-toggle="left" class="button button-icon icon ion-person"></button>
            </ion-nav-buttons>


            <h1 class="title"></h1>
            <ion-nav-buttons side="right">
                <button class="button" ng-click="login()" ng-if="user==null">Giriş</button>
                <button menu-toggle="right" class="button button-icon icon ion-clipboard"  ng-if="user!=null"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view>


            <ion-content>
                <div style="height: 30px;">&nbsp;</div>
                <div class="row">
                    <div class="col-xs-12" id="translations">
                        <div ng-repeat="verse in verses">
                            <div class="well translations col-xs-12" id="v_{{verse.id}}">
                                <div ng-repeat="translation in verse.translations">
                                    <div ng-if="$first"><h4>{{translation.chapter}}:{{translation.verse}}</h4></div>
                                    <div class="row" id="t_{{translation.id}}">
                                        <div class="col-xs-12 col-sm-3 authorDiv_{{authorMap[translation.authorId].color}}">
                                            {{authorMap[translation.authorId].name}}
                                        </div>
                                        <div class="col-xs-12 col-sm-9 translation_content"><span
                                                ng-bind-html="translation.content | with_footnote_link:translation.id:translation.authorId | to_trusted"></span>
                                        </div>
                                    </div>
                                    <!--
                                    <show-verse data="showVerseData.data" ng-if="showVerseAtTranslation==translation.id"
                                                class="showVerseData"></show-verse>
                                                -->
                                    <div class="row" ng-if="!$last">
                                        <hr/>
                                    </div>
                                </div>
                                <div ng-repeat="(verseTagsKey, verseTagsVal) in verseTagsJSON"
                                     ng-if="verseTagsVal.verseId==verse.id" style="text-align: right;width:100%">
                                    <hr/>
                                    <button ng-repeat="verseTag in verseTagsVal.tags"
                                            class="btn btn-xs btn-info verse_tag"
                                            ng-click="goToVerseTag(verse.id,verseTag.tag)"
                                            onclick="verseTagClicked(this)">
                                        {{verseTag.tag}}
                                    </button>
                                </div>
                                <div ng-if="targetVerseForTagContent==verse.id" class="verse_tag_content">
                                    <h4>Etiketli Ayetler</h4>
                                    <select class="verseTagContentAuthor"
                                            ng-options="author.id as author.name for author in authors | filter:authorFilter"
                                            ng-model="verseTagContentAuthor"
                                            ng-change="verseTagContentAuthorUpdate(verseTagContentAuthor)">
                                    </select>


                                    <div ng-repeat="verseTagContent in verseTagContents">
                                        <div ng-repeat="verseTagContentTranslation in verseTagContent.translations"
                                             ng-if="verseTagContentTranslation.authorId==verseTagContentAuthor">
                                            <strong>{{verseTagContentTranslation.verseId / 1000 |
                                                number:0}}:{{verseTagContentTranslation.verseId % 1000}}</strong>
                                            {{verseTagContentTranslation.content}}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-content>


        </ion-nav-view>

    </ion-side-menu-content>
    <ion-side-menu side="left" ng-controller="MainCtrl">
        <ion-header-bar class="bar-assertive">
            <h1 class="title">MENÜ</h1>
        </ion-header-bar>
        <ion-content>
                <ul class="list">
                    <a href="#/event/check-in" class="item" >Sureler</a>
                    <a href="#/event/attendees" class="item">Tüm Notlar</a>
                    <a href="#/event/attendees" class="item">Ayarlar</a>
                    <a href="#/event/attendees" class="item">Çıkış</a>
                </ul>
        </ion-content>
    </ion-side-menu>
    <ion-side-menu side="right" ng-controller="MainCtrl">
        <ion-header-bar class="bar-assertive">
            <h1 class="title">b</h1>
        </ion-header-bar>
        <ion-content>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>


<script></script>