<ion-side-menus>
    <ion-side-menu-content>


        <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced" align-title="center">
            <ion-nav-buttons side="left">
                <a href="#/app/home" class="button button-icon icon ion-arrow-left-b">Tamam</a>
                <!--
                <a href onclick="window.history.back()" class="button button-icon icon ion-arrow-left-b">Tamam</a>
-->
                <h1 class="title">Sayfadaki Notlar</h1>


            </ion-nav-buttons>

        </ion-nav-bar>


        <ion-nav-view name="appContent"></ion-nav-view>
    </ion-side-menu-content>
</ion-side-menus>