<ion-side-menus>
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced" align-title="center">
            <ion-nav-buttons side="left">
                <a menu-toggle="left" class="button button-icon icon ion-navicon"></a>
            </ion-nav-buttons>
            <ion-nav-title>{{'Ayet Listelerim' | translate}}</ion-nav-title>
            <ion-nav-buttons side="right">
                <a class="button button-icon icon ion-compose" ng-click="toggleButton()"></a>
                <a class="button button-icon icon ion-plus" ng-click="createNewVerseList()"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="appContent"></ion-nav-view>
        <ion-nav-view id="chapter_translation_content" cache-view="true">
            <ion-content overflow-scroll="true" delegate-handle="content"  class="scroll_content"
                         style="margin-top:65px;">
                <ion-list>
                    <ion-item data-tap-disabled="true" ng-repeat="item in verselists" item="item" class="item-remove-animate" style="width: 100%;display: table;font-size: 25px;padding-left: 6px;padding-right: 6px;">
                        <ion-button class="ion-minus-circled" ng-click="deleteVerseListWithConfirm(item)" ng-show="showLeftButton" style="margin: 0px 3px;color: #ef473a;"></ion-button>
                        <ion-button ng-click="updateVerseListWithConfirm(item)" ng-show="showLeftButton" style="margin: 0px 3px;color:blue;">a|b</ion-button>
                        <a href="" ng-click="navigateTo('/lists/verse/{{item.id}}')" style="text-decoration: none;color: black;display: table-cell;width: inherit;">
                            <label id="ad{{item.id}}" style="font-size: large">{{item.name}}</label>
                            <i class="icon ion-chevron-right icon-accessory" style="float: right"></i>
                        </a>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-nav-view>
    </ion-side-menu-content>
    <div ng-include="'components/navigation/left_menu.html'"></div>
</ion-side-menus>