<!-- start of side menu part 1-->
<ion-side-menus>
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced" align-title="center">
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <ion-nav-title>{{'Kullanıcı Profili' | translate}}</ion-nav-title>
            <ion-nav-buttons side="right">
                <a class="button button-icon icon ion-search" href="#!/people/search_people/" ng-if="user!=null"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="appContent"></ion-nav-view>
        <!-- end of side menu part 1 -->
        <ion-nav-view>
            <ion-content overflow-scroll="true" delegate-handle="content"  class="scroll_content"
                         style="margin-top:66px;">
                <div class="col-xs-3 well" style="text-align: center" ng-show="profiledUser != null">
                    <div>
                        <img style="max-width: 160px; max-height: 120px;" ng-src="http://graph.facebook.com/{{profiledUser.fbId}}/picture?type=large">
                        <div><b>{{profiledUser.username}}</b></div>
                    </div>
                    <div style="visibility: hidden;height: 10px;"></div>
                    <div style="visibility: hidden;height: 10px;"></div>
                    <div style="text-align: left;margin-left: 10%;">
                        <div>{{'Üyelik' | translate}} : {{profiledUser.created | date: 'dd/MM/yyyy'}}</div>
                        <div>{{'Toplam Ayet Notu' | translate}} : {{profiledUser.annotation_count}}</div>
                        <div>{{'Toplam Çıkarım Notu' | translate}} : {{profiledUser.inference_count}}</div>
                        <div>{{'Çevresindeki Kişi Sayısı' | translate}} : {{profiledUser.circle_friend_count}}</div>
                        <div>{{'Takipçi Sayısı' | translate}} : {{profiledUser.follower_count}}</div>
                    </div>
                    <div style="visibility: hidden;height: 10px;"></div>
                    <div style="visibility: hidden;height: 10px;"></div>
                    <div ng-show="profiledUser.id != user.id" style="padding-left: 15px;padding-right: 15px;">
                        <a class="button button-block button-positive" ng-click="showCircleSelectionModal()" translate>Çevreme Ekle</a>
                        <a class="button button-block button-positive" ng-click="redirectFacebookProfile()">
                            <img src="../../assets/img/fb.png" width="40" height="40" style="vertical-align: middle; margin-right: 10px;"/>
                            {{'Facebook Profilini Aç' | translate}}
                        </a>
                    </div>
                </div>
                <div ng-repeat="feed in feeds" class="item-remove-animate" style="width: 100%;display: table;font-size: 10px;">
                    <div ng-if="feed.study_type == 'annotation'" class="card">
                        <div class="item item-divider">
                            <a href='' style="text-decoration: none !important;" ng-click="openVerseDetail(feed.anno_verse_id, profiledUser.id, profiledUser.username)">{{feed.anno_verse_id / 1000 | number:0}}:{{feed.anno_verse_id % 1000}}</a> <span style="font-size: small">({{authorMap[feed.anno_author_id].name}})</span>
                            <!--div style="float:right;">{{feed.userName | limitTo: 25}}</div-->
                            <div style="float: right">
                                <span ng-bind-html="feed.updated | time_in_string | to_trusted"></span>
                                <button type="button" class="button button-balanced button-small" ng-click="showEditor(feed)"
                                        ng-if="feed.owner_id==user.id">
                                    <i class="fa fa-pencil-square-o "></i>
                                </button>
                                <button type="button" class="button button-assertive button-small" ng-click="deleteAnnotation(feed)"
                                        ng-if="feed.owner_id==user.id">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </div>
                        </div>
                        <div class="item item-text-wrap">
                            <blockquote
                                    ng-bind-html="feed.translation_content | mark_verse_annotation:feed:1 | newLineAllowed | to_trusted"></blockquote>

                            <span ng-bind-html="feed.content | newLineAllowed | to_trusted" class="s_a_text"></span>

                            <div>
                                <button ng-repeat="annotationTag in feed.tags" class="tag label label-info s_a_tag btn btn-xs btn-info verse_tag"
                                        style="border: 0;"
                                        ng-click="goToVerseTag(feed.anno_author_id, feed.anno_verse_id, annotationTag, [], [])" >
                                    {{annotationTag}}
                                </button>
                            </div>
                        </div>
                        <div class="item item-divider">
                            <div class="fit-content">
                                <span ng-class="{ 'voted-like': (feed.vote != null && feed.vote.content == 1), 'unvoted' : !(feed.vote != null && feed.vote.content == 1)}"
                                      ng-click="doVoteInProfile(feed,1)">
                                    <i class="fa fa-thumbs-up"></i> {{feed.voteRates.like}}
                                </span>
                                <span ng-class="{'voted-dislike': (feed.vote != null && feed.vote.content == 0), 'unvoted' : !(feed.vote != null && feed.vote.content == 0)}"
                                      ng-click="doVoteInProfile(feed,0)">
                                    <i class="fa fa-thumbs-down"></i> {{feed.voteRates.dislike}}
                                </span>
                                <span ng-disabled="(feed.voteRates.dislike + feed.voteRates.like) == 0"
                                      ng-click="showVoteResults(feed, 'annotations')">
                                    <i class="fa fa-pie-chart"></i> {{(feed.voteRates.dislike + feed.voteRates.like)}} Oy
                                </span>
                                <span ng-click="navigateTo('/annotation/display/{{feed.id}}/')" style="margin-right: 10px;" class="make_comment">
                                    <i class="fa fa-comment"></i> {{feed.commentCount}} {{'Yorum' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="feed.study_type == 'inference'" class="card">
                        <div class="item item-divider row" style="padding: 0;">
                            <div class="col">
                                <span style="float: right" ng-bind-html="feed.updated | time_in_string | to_trusted"></span>
                            </div>
                        </div>
                        <div class="item">
                            <div align="center" style="margin: 0 auto;">
                                <a  href="" ng-click="navigateTo('/inference/display/{{feed.id}}')">
                                    <img image-check ng-src="{{feed.inf_image}}" style="max-width: 200px; max-height: 150px; "/>
                                </a>
                            </div>
                            <div align="center" style="height: 20px">
                                <a href="" ng-click="navigateTo('/inference/display/{{feed.id}}')" style="text-decoration: none;">
                                    <h4 style="margin-top:0;font-size: 18px;color: dodgerblue;white-space: pre-line;">{{feed.inf_title | limitTo:80}}</h4>
                                </a>
                            </div>
                            <div style="padding-left:10px;white-space: pre-line;margin-top: 25px;">
                                <span ng-bind-html="feed.brief | to_trusted | limitTo:400" style="line-height: 1;white-space: pre-wrap; font-size: 10pt"></span>
                                <a href="" ng-click="navigateTo('/inference/display/{{feed.id}}')" style="color: blue; font-size: 10pt" translate>devamını oku...</a>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div ng-repeat="inferenceTag in feed.tags" class="tag label label-info s_a_tag">
                                        {{inferenceTag}}
                                    </div>
                                </div>
                                <div class="col">
                                    <div style="float: right;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item item-divider">
                            <div class="fit-content">
                                <span ng-class="{ 'voted-like': (feed.vote != null && feed.vote.content == 1), 'unvoted' : !(feed.vote != null && feed.vote.content == 1)}"
                                      ng-click="doVoteInProfile(feed,1)">
                                    <i class="fa fa-thumbs-up"></i> {{feed.voteRates.like}}
                                </span>
                                <span ng-class="{'voted-dislike': (feed.vote != null && feed.vote.content == 0), 'unvoted' : !(feed.vote != null && feed.vote.content == 0)}"
                                      ng-click="doVoteInProfile(feed,0)">
                                    <i class="fa fa-thumbs-down"></i> {{feed.voteRates.dislike}}
                                </span>
                                <span ng-disabled="(feed.voteRates.dislike + feed.voteRates.like) == 0"
                                      ng-click="showVoteResults(feed, 'inferences')">
                                    <i class="fa fa-pie-chart"></i> {{(feed.voteRates.dislike + feed.voteRates.like)}} {{'Oy' | translate}}
                                </span>
                                <span ng-click="navigateTo('/inference/display/{{feed.id}}/')" style="margin-right: 10px;" class="make_comment">
                                    <i class="fa fa-comment"></i> {{feed.commentCount}} {{'Yorum' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <ion-infinite-scroll
                        ng-if="hasMoreData"
                        distance="2%"
                        on-infinite="loadMoreFriendsFeeds()">
                </ion-infinite-scroll>
            </ion-content>
        </ion-nav-view>
        <!-- start of side menu part 2-->
    </ion-side-menu-content>
    <div ng-include="'components/navigation/left_menu.html'"></div>
</ion-side-menus>
<!-- end of side menu part 2-->