<!-- start of side menu part 1-->
<ion-side-menus>
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced" align-title="center">
            <ion-nav-buttons side="left">
                <button class="button button-icon icon ion-arrow-left-b" ng-click="navigateTo('/people/home/')">Kişiler</button>
            </ion-nav-buttons>
            <ion-nav-title>Çevrelerim</ion-nav-title>
            <ion-nav-buttons side="right">
                <a class="button button-icon icon ion-compose" ng-click="toggleButton()"></a>
                <button class="button button-icon icon ion-plus" ng-click="createNewCircle()"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="appContent"></ion-nav-view>
        <!-- end of side menu part 1 -->
        <ion-nav-view id="chapter_translation_content" cache-view="true">
            <ion-content overflow-scroll="true" delegate-handle="content"  class="scroll_content"
                         style="margin-top:66px;">
                <ion-list>
                    <ion-item ng-repeat="item in cevreadlar" item="item" class="item-remove-animate" style="width: 100%;display: table;font-size: 10px;">
                        <ion-button class="ion-minus-circled" ng-click="deleteCircle(item)" ng-show="showAddButton" style="margin: 0px 3px;color: #ef473a;font-size:x-large"></ion-button>
                        <ion-button ng-click="updateCircle(item)" ng-show="showAddButton" style="margin: 0px 3px;color:blue;font-size: x-large">a|b</ion-button>
                        <a  href="" ng-click="navigateTo('/people/peoples/{{item.id}}')" style="text-decoration: none;color: black;display: table-cell;width: inherit;">
                            <label id="ad{{item.id}}" style="font-size: 17px;">{{item.name}} </label>
                            <i class="icon ion-chevron-right icon-accessory" style="float: right"></i>
                        </a>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-nav-view>
        <!-- start of side menu part 2-->
    </ion-side-menu-content>
    <div ng-include="'components/navigation/left_menu.html'"></div>
</ion-side-menus>
<!-- end of side menu part 2-->