<!-- start of side menu part 1-->
<ion-side-menus>
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced" align-title="center">
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <ion-nav-title>{{'Kişiler' | translate}}</ion-nav-title>
        </ion-nav-bar>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-view name="appContent"></ion-nav-view>
        <!-- end of side menu part 1 -->
        <ion-nav-view id="chapter_translation_content" cache-view="true">
            <ion-content overflow-scroll="true" delegate-handle="content"  class="scroll_content"
                         style="margin-top:30px; padding-left: 15px; padding-right: 15px">
                <div style="height: 60px;">&nbsp;</div>
                <a class="button button-block button-positive" href="#!/people/circles/" translate>Çevrelerim</a>
                <a class="button button-block button-positive" href="#!/people/people_have_you/" translate>Takipçilerim</a>
                    <div class="well col-xs-12" style="margin-top: 10px;background-color: #eee;padding-left: 10px; padding-right: 10px" >
                        <div class="item" style="text-align: center;border-color: #eee;background-color: #eee">
                            <h2 translate>Keşfet</h2>
                        </div>
                            <a class="button button-block button-positive" href="#!/people/find_people/" translate>Kişi Önerileri (Çalışkanlar/Arkadaşlarım)</a>
                            <a class="button button-block button-positive" href="" ng-click="inviteFriends()" translate>Arkadaşlarımı Davet Et</a>
                            <a class="button button-block button-positive" href="#!/people/search_people/" translate>Kişi Ara</a>
                    </div>
                <div style="height:50px;">&nbsp;</div>
            </ion-content>
        </ion-nav-view>
        <!-- start of side menu part 2-->
    </ion-side-menu-content>
    <div ng-include="'components/navigation/left_menu.html'"></div>
</ion-side-menus>
<!-- end of side menu part 2-->