<html ng-app="ionicApp" ng-controller="MainCtrl">

<head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css" type="text/css" />
    <script id="angularScript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script id="angularScript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-resource.js"></script>


    <script>

        angular.module('ionicApp', ['ngResource'])

                .factory('Post', function($resource) {
                    return $resource('http://localhost:8080/QuranToolsApp/rest/chapters/1/authors/16');
                    // return $resource('https://securewebserver.net/jetty/qt/rest/chapters/1/authors/16');
                })

                .controller('MainCtrl', function($scope, Post) {
                    //$scope.translations = Post.query();

                    // Our form data for creating a new post with ng-model
                    $scope.postData = {};

                    $scope.newPost = function() {
                        var post = new Post($scope.postData);
                        post.$save();
                    }

                    // Get all posts
                    $scope.list_translations = function () {
                        self.translationList = Post.query();
                        $scope.translations =  Post.query();
                    }

            });

</script>

    </head>
<body ng-app="ionicApp" ng-controller="MainCtrl">
<button type="button" id="list_translations" ng-click="list_translations()">list_translations</button>


--
<table>
<tr ng-repeat="translation in translations">
    <td>{{translation.chapter}}:{{translation.verse}}</td><td>{{translation.content}}</td><td>{{translation}}</td>

</tr>
</table>
--


    <form ng-submit="newPost()">
        <label>New Post:</label>
        <textarea ng-model="postData.text"></textarea>
        <button type="submit" class="button button-positive button-block">Create</button>
    </form>

<h3>Nesneler</h3>
<pre>translationList = {{translations| json}}</pre>
<pre>size = {{translations.length}}</pre>

</body>
</html>