<div>
    <select ng-model="$parent.showVerseData.data.authorId" ng-change="$parent.showVerseByParameters('go')">
        <option ng-repeat="author in $parent.authors" value="{{author.id}}" ng-selected="author.id == data.authorId">
            {{author.name}}
        </option>
    </select>
    <div class="item item-input-inset" style="border:0">
        <label class="item-input-wrapper">
            <input type="text"  placeholder="Sure No" ng-model="$parent.showVerseData.data.chapter" >
        </label>
        &nbsp;
        <label class="item-input-wrapper">
            <input type="text"  placeholder="{{'Ayet' | translate}}" ng-model="$parent.showVerseData.data.verse" size="3">
        </label>
        &nbsp;
        <input type="hidden" ng-model="$parent.showVerseData.data.authorId"/>
        <button class="btn btn-primary" ng-click="$parent.showVerseByParameters('go')" translate>Git</button>
        <button class="btn" ng-click="$parent.showVerseByParameters('previous')" ng-disabled="$parent.showVerseData.data.chapter==1 && $parent.showVerseData.data.verse==1"><i class="fa fa-arrow-circle-o-left large_icon"></i>
        </button>
        <button class="btn" ng-click="$parent.showVerseByParameters('next')" $parent.showVerseData.data.chapter==114 && $parent.showVerseData.data.verse==6><i class="fa fa-arrow-circle-o-right large_icon"></i>
        </button>
    </div>
    <div style="padding: 10px 5px;">
        <span ng-bind-html="data.content | mark_verse_annotation:$parent.annotation:$parent.markVerseAnnotations | newLineAllowed | to_trusted"></span>
    </div>
</div>