<table id="authors">
  <thead>
  <tr>
    <th class="col0">Numara (id)</th>
    <th class="col1">İsim (name)</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="col0">1</td>
    <td class="col1">Arapça (Harekesiz)</td>
  </tr>
  <tr>
    <td class="col0">2</td>
    <td class="col1">Transliterasyon</td>
  </tr>
  <tr>
    <td class="col0">8</td>
    <td class="col1">Transliteration (Eng.)</td>
  </tr>
  <tr>
    <td class="col0">16</td>
    <td class="col1">Edip Yüksel</td>
  </tr>
  <tr>
    <td class="col0">32</td>
    <td class="col1">Edip-Layth-Martha</td>
  </tr>
  <tr>
    <td class="col0">64</td>
    <td class="col1">The Monotheist Group</td>
  </tr>
  <tr>
    <td class="col0">128</td>
    <td class="col1">Rashad Khalifa</td>
  </tr>
  <tr>
    <td class="col0">256</td>
    <td class="col1">Muhammad Asad</td>
  </tr>
  <tr>
    <td class="col0">512</td>
    <td class="col1">Muhammed Esed</td>
  </tr>
  <tr>
    <td class="col0">1024</td>
    <td class="col1">Yaşar Nuri Öztürk</td>
  </tr>
  <tr>
    <td class="col0">2048</td>
    <td class="col1">Arapça (Harekeli)</td>
  </tr>
  <tr>
    <td class="col0">4096</td>
    <td class="col1">Ali Bulaç</td>
  </tr>
  <tr>
    <td class="col0">8192</td>
    <td class="col1">Diyanet İşleri</td>
  </tr>
  <tr>
    <td class="col0">16384</td>
    <td class="col1">Elmalılı Hamdi Yazır</td>
  </tr>
  <tr>
    <td class="col0">32768</td>
    <td class="col1">Süleyman Ateş</td>
  </tr>
  <tr>
    <td class="col0">65536</td>
    <td class="col1">Şaban Piriş</td>
  </tr>
  <tr>
    <td class="col0">131072</td>
    <td class="col1">Suat Yıldırım</td>
  </tr>
  <tr>
    <td class="col0">262144</td>
    <td class="col1">Hakkı Yılmaz</td>
  </tr>
  <tr>
    <td class="col0">1048576</td>
    <td class="col1">Abdulbaki Gölpınarlı</td>
  </tr>
  <tr>
    <td class="col0">137438953472</td>
    <td class="col1">Mustafa İslamoğlu</td>
  </tr>
  <tr>
    <td class="col0">274877906944</td>
    <td class="col1">Erhan Aktaş</td>
  </tr>
  <tr>
    <td class="col0">549755813888</td>
    <td class="col1">Bayraktar Bayraklı</td>
  </tr>
  </tbody>
</table>