<div class="modal" id="resetPasswordRequestModal" ng-controller="AccountCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="initAllParams()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" translate>Şifremi Unuttum</h4>
            </div>
            <div class="modal-body">
                <div ng-if="!resetPasswordRequestSent">
                    <form name="form" novalidate>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <div ng-if="message"><i class="fa fa-exclamation-triangle" style="font-size: 1em; color:#FF0000"></i> <span style="font-size: smaller" class="text-danger">{{message | translate}}</span></div>
                                <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid && form.email.$touched }">
                                    <input type="email" name="email" ng-model="user.email"
                                           size="50" placeholder="{{'E-posta' | translate}}"
                                           class="form-control" required/>
                                </div>
                                <button type="button" aria-hidden="true" class="btn btn-success btn-block" ng-click="resetPasswordRequest()" translate>Şifremi Sıfırla</button> <!--ng-disabled="!loginForm.$valid"-->
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-if="resetPasswordRequestSent">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1" style="text-align: center">
                            <br><br>
                            <div><i class="fa fa fa-envelope-o" style="font-size: 6em; color:#69A74E"></i></div>
                            <br>
                            <p translate>Şifre sıfırlama isteği e-posta adresinize gönderildi.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>