<div class="modal" id="setPasswordModal" ng-controller="AccountCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title col-xs-10" translate>Şifre Sıfırlama</h4>
                <select name="language-selection"
                        ng-model="selectedLanguage"
                        ng-options="language.name as language.label for language in languages"
                        ng-selected="selectedLanguage==language.name"
                        ng-change="changeLanguage(selectedLanguage)">
                </select>

            </div>
                <div class="modal-body">
                    <div ng-if="!isPasswordChanged">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <form name="form" novalidate>
                                    <div ng-if="message"><i class="fa fa-exclamation-triangle" style="font-size: 1em; color:#FF0000"></i> <span style="font-size: smaller" class="text-danger">{{message | translate}}</span></div>
                                    <div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && form.password.$touched }">
                                        <input type="password" name="password" ng-model="user.password"
                                               size="50" placeholder="{{'Yeni şifreniz' | translate}}"
                                               class="form-control" required/>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : form.confirm_password.$invalid && form.confirm_password.$touched }">
                                        <input type="password" name="confirm_password" ng-model="user.confirm_password"
                                               size="50" placeholder="{{'Yeni şifre tekrar' | translate}}"
                                               class="form-control" required data-password-verify="user.password"/>
                                    </div>
                                    <button type="button" aria-hidden="true" class="btn btn-success btn-block" ng-click="resetPassword(form)" translate>Şifremi değiştir</button>
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div ng-if="isPasswordChanged">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1" style="text-align: center">
                                <br><br>
                                <div><i class="fa fa-check-circle-o" style="font-size: 6em; color:#69A74E"></i></div>
                                <br>
                                <p translate>Şifreniz başarıyla değiştirildi</p>
                                <a href ng-click="returnHome()"><i class="fa fa-home"></i> <b translate>Ana sayfa</b></a>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="modal-footer"></div>-->
        </div>
    </div>
</div>