<body ng-app="userSettings" ng-controller="UserSettingsCtrl">
    <div ng-include="'app/components/partials/off_canvas_menu.html'"></div>
    <div class="container">
        <div ng-include="'app/components/user/user_navigation.html'"></div>
        <div class="nav-bottom"></div>
        <div class="row">
            <div align="center">
                <br>
                <a type="button" class="btn btn-primary btn-wide" ng-click="exportmodal()" translate>Notlarımı Dışarıya Aktar (CSV)</a>
                <br><br>
                <a type="button" class="btn btn-primary btn-wide" data-target="#importAnnotations" data-toggle="modal" translate>Toplu Not Ekleme</a>
                <br><br>
                <a type="button" href="#!/user/account/edit_batch_notes" class="btn btn-primary btn-wide"  translate>Toplu Not Düzenleme</a>
            </div>
         </div>
    </div>

    <div class="row">
        <exportmodal title="{{'Notlarımı Dışarı Aktar' | translate}}" visible="showexportmodal">
            <div class="row">
                <label style="padding-left: 15px">{{'Tüm Notlarınız CSV dosyası olarak dışarı aktarılacaktır' | translate}}</label>
                <div class="col col-xs-10 col-xs-offset-1">
                    <label><input type="checkbox" ng-model="remove_carriage" ng-change="carriageChanged(remove_carriage)"> {{'Sütun içindeki satır başı / satır besleme karakterlerini kaldır' | translate}}</label>
                    <label><input type="checkbox" ng-model="columns_name" ng-change="columnsChanged(columns_name)" translate> {{'Sütun adlarını ilk satıra koy' | translate}}</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-link" data-dismiss='modal' translate>Vazgeç</button>
                <button class="btn btn-primary btn-wide" ng-click="exportAnnotations()" translate>Aktar</button>
            </div>
        </exportmodal>
    </div>
</body>