<body ng-app="userSettings" ng-controller="UserSettingsCtrl">
    <div ng-include="'app/components/partials/off_canvas_menu.html'"></div>
    <div class="container">
        <div ng-include="'app/components/user/user_navigation.html'"></div>
        <div class="nav-bottom"></div>
        <div class="row">
            <div align="center">
                <br>
                <a type="button" class="btn btn-primary btn-wide" ng-click="exportmodal()" translate>Notlarımı Dışarıya Aktar (CSV)</a>
                <br><br>
                <a type="button" class="btn btn-primary btn-wide" ng-click="bulkinsertmodal()" translate>Toplu Not Ekleme</a>
                <br><br>
                <a type="button" href="#!/user/account/edit_batch_notes" class="btn btn-primary btn-wide"  translate>Toplu Not Düzenleme</a>
            </div>
         </div>
    </div>

    <div class="row">
        <exportmodal title="{{'Notlarımı Dışarı Aktar' | translate}}" visible="showexportmodal">
            <div class="row">
                <label style="padding-left: 15px">{{'Tüm Notlarınız CSV dosyası olarak dışarı aktarılacaktır' | translate}}</label>
                <div class="col col-xs-10 col-xs-offset-1">
                    <label><input type="checkbox" ng-model="remove_carriage" ng-change="carriageChanged(remove_carriage)"> {{'Sütun içindeki satır başı / satır besleme karakterlerini kaldır' | translate}}</label>
                    <label><input type="checkbox" ng-model="columns_name" ng-change="columnsChanged(columns_name)" translate> {{'Sütun adlarını ilk satıra koy' | translate}}</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-link" data-dismiss='modal' translate>Vazgeç</button>
                <button class="btn btn-primary btn-wide" ng-click="exportAnnotations()" translate>Aktar</button>
            </div>
        </exportmodal>
    </div>

    <div class="row">
        <bulkinsertmodal title="{{'Toplu Not Ekleme' | translate}}" visible="showbulkinsertmodal">
            <div class="row" style="padding: 0 15px">

                <p ng-if="language=='tr'">Daha önce elinizde olan notlarınızı <a ng-href="app/components/user/annotations.csv" download="sample-file.csv">örnek dosyadaki</a> gibi CSV dosya haline getiriniz.</p>
                <p ng-if="language=='en'">Turn your notes into a CSV file like <a ng-href="app/components/user/annotations.csv" download="sample-file.csv">sample file</a> which you have previously.</p>
                <ul>
                    <li translate="START_WITH_QUTOTE">Her kolon çift tırnak(") ile başlayıp bitmeli</li>
                    <li translate>Notlarınızın içerisinde çift tırnak geçmemelidir.</li>
                </ul>
                <strong translate>Kolon İçerikleri</strong>
                <div translate>1. chapter: sure numarası</div>
                <div translate>2. verse: ayet numarası</div>
                <div translate>3. content: not içeriği</div>
                <div translate>4. tags: virgülle ayrılmış etiketler</div>
                <div translate>5. id: sistemdeki ID numarası. Boş bırakılabilir, dikkate alınmamaktadır.</div>
                <div ng-if="language=='tr'">6. author id: Notun alındığı meal numarası. <a href ng-click="authorlistmodal()" translate>Listeden</a> uygun olanı kullanınız. Boş olursa Arapça meal kullnılacaktır</div>
                <div ng-if="language=='en'">6. author id: The number of the translation author. Use one from the <a href ng-click="authorlistmodal()" translate>author list</a>. If empty, Arabic translation will be used</div>
                <div translate>7. color: red, green, yellow değerlerinden birisi kullanılmalı. Boş ise yellow kullanılır.</div>
                <div translate>8. start: karalamanın başlangıcı. Eğer daha önce sistemden export aldıysanız aynen kalabilir, aksi durumda boş bırakınız.</div>
                <div translate>9. end: karalamanın bitişi. Eğer daha önce sistemden export aldıysanız aynen kalabilir, aksi durumda boş bırakınız.</div>
                <div translate>10. quote: karalama yapılan metin. Eğer daha önce sistemden export aldıysanız aynen kalabilir, aksi durumda boş bırakınız.</div>
                <br>
                <div translate="SAVE_AS_CSV">*Notlarınızı excel de düzenledikten sonra CSV dosyası olarak kaydedebilirsiniz. Bunun için şu ayarları yapmalısınız: (, ile ayrılmış, " ile kapatılmış, '\r\n' ile yeni satır.)</div>
                <div translate>Daha sonra bu dosyayı sisteme yükleyerek ayet notlarınızı oluşturabilirsiniz.</div>
                <br>
                <div ng-if="language=='tr'"><a href ng-click="libreofficemodal()">LibreOffice Kurulumu ve Örnek Dosya Yüklenmesi için tıklayınız</a></div>
                <div ng-if="language=='en'"><a href ng-click="libreofficemodal()">Click for LibreOffice Setup and Sample File Upload</a></div>
                <br>
                <div translate>Paylaşmak istediğiniz çevreleri belirleyiniz. Tüm notlar bu çevre ile paylaşılacaktır.</div>
                <br>
                <div class="col col-lg-10 col-lg-offset-1 col-md-12">
                    <div class="row flexbox-container">
                        <span class="col col-xs-5" translate>Paylaşmak istediğiniz çevre:</span>
                        <div class="col col-xs-7">
                            <tags-input ng-model="taggedVerseCircles" placeholder="{{'Çevre Seçiniz' | translate}}"
                                        display-property="name" replace-spaces-with-dashes="false" min-length="1"
                                        add-from-autocomplete-only="true" add-on-blur="false">
                                <auto-complete source="cevrelisteleForSearch()" load-on-empty="true"
                                               load-on-focus="true"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                    <br>
                    <div class="clearfix"></div>

                    <div class="row">
                        <label>
                            <input type="checkbox" ng-model="columns_name" ng-change="columnsChanged(columns_name)">
                            {{'İlk satır kolon başlıklarını içeriyor' | translate}}
                        </label>
                    </div>
                    <div class="row flexbox-container">
                        <span class="col-xs-2" translate>Dosya:</span>
                        <input type = "text" class="col-xs-8" readonly ng-model="csvFile.name"/>
                        <button type="file" class="col-xs-2"
                                ng-model="csvFile"
                                ngf-select="checkFile($file, $invalidFiles)"
                                accept=".csv"
                                translate>Araştır</button>
                     </div>
                    <br>
                    <div style="font-size:smaller" class="text-danger text-center">{{errorMsg}}</span></div>
                    <div style="font-size:smaller" class="text-success text-center">{{successMsg}}</span></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-link" data-dismiss='modal' translate>İptal</button>
                <button class="btn btn-primary btn-wide" ng-disabled="!csvFile || errorMsg" ng-click="uploadFile(csvFile)" translate>Gönder</button>
            </div>
        </bulkinsertmodal>
    </div>

    <div class="row">
        <authorlistmodal visible="showauthorlistmodal">
            <div class="row" style="padding: 0 15px">
                <center>
                    <div ng-include="'app/components/user/authors.html'"></div>
                </center>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-wide" data-dismiss='modal' translate>Kapat</button>
            </div>
        </authorlistmodal>
    </div>

    <div class="row">
        <libreofficemodal visible="showlibreofficemodal">
            <div ng-if="showlibreofficemodal" ng-include="'app/components/user/libre_office_usage_with_sample_file.html'"></div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-wide" data-dismiss='modal' translate>Kapat</button>
            </div>
        </libreofficemodal>
    </div>
</body>