<body>
<div class="container">
    <div ng-include="'app/components/inferences/inferences_navigation.html'"></div>
    <!--div ng-include="'app/components/partials/share_modal.html'"></div-->
    <div class="nav-bottom"></div>
    <div align="center" class="row" ng-if="authorizedInferenceDisplay == 1">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td align="center" style="width:1050px">
                    <table style="width: 1040px">
                        <tr>
                            <td align="center" style="width:840px">
                                <h3>{{title}}</h3>
                            </td>
                            <td align="center" style="width:200px">
                                <div ng-show="open_edit" style="width:200px">
                                    <button ng-if="edit_user == user.id" style="width:90px" ng-click="edit_inference()"
                                            class="btn verse_tag ng-binding btn-primary btn-xs">Düzenle</button>&nbsp;
                                        <button ng-if="edit_user == user.id" style="width:90px" ng-click="digercevremodal()"
                                                class="btn verse_tag ng-binding btn-danger btn-xs">Sil
                                        </button>
                                </div>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr>
                <td align="left" style="width:1050px; height: 40px;">
                    <a ng-href="#/profile/user/{{inference_info.userId}}/" style="color: darkblue;">{{info_author}}</a>
                </td>
            </tr>
            <tr>
                <td align="center" style="width:1050px; vertical-align: top;">
                    <img src={{photo}} style="max-width:800px; max-height:600px;"/></td>
            </tr>
            <tr>
                <td align="right"
                    style="vertical-align: top; width: 1050px; height: 45px; padding-top:15px; padding-bottom:15px">
                    <i class="fa fa-toggle-on aktif" ng-if="inlineReferenceDisplay == true" ng-click="changeInlineReferenceDisplay();"></i>
                    <i class="fa fa-toggle-on fa-rotate-180 inactive" ng-if="inlineReferenceDisplay == false"
                       ng-click="changeInlineReferenceDisplay();"></i>Referansların
                    İçeriğini Göster
                </td>
            </tr>
            <tr>
                <td align="left" style="padding-right: 15px; padding-left: 15px; padding-bottom: 15px; width: 1050px;
                    padding-top: 15px; background-color:#fff6dc">

                    <p ng-bind-html="content"></p>
                </td>
            </tr>
            <tr>
                <td align="right" style="padding-right: 15px; padding-left: 15px; padding-bottom: 15px;
                    width: 1050px; padding-top: 15px; background-color:#fff6dc">
                    <strong>Çıkarım Etiketleri:</strong></strong><button ng-repeat="item in tags" class="btn verse_tag ng-binding btn-info btn-xs">{{item}}</button>
                </td>
            </tr>
        </table>
        <br/>
        <div align="right" style="padding-right : 75px;">
            <a id="url" class="btn btn-primary btn-xs" ng-click="kopyala(shareUrl)" style="margin-bottom: 11px;"><i class="fa fa-link"></i> Linki Kopyala</a>
            <a facebook class="facebookShare" data-url='{{shareUrl}}' data-size="tall"></a>
            <a twitter  data-lang="tr" data-count='horizontal' data-url='{{shareUrl}}' data-via='kurancalis' data-size="tall" data-text="Kuran Çalış - {{title}}" ></a>
            <div gplus class="g-plus" data-height="24" data-annotation="none" data-href='{{shareUrl}}' data-action='share' style="margin-top:2px;"></div>
        </div>
        <br/>
        <h6 align="left" style="width: 1024px">Referans Verilen Ayetler</h6>
        <table ng-if="referenced.verses.length!=0">
            <tr>
                <td align="left" style="width: 200px">
                    <select class="form-control" style="width: 200px" name="singleSelect"
                             ng-model="referenced.selectedAuthor" ng-change="updateReferencedTranslations()">
                        <option ng-repeat="item in authorMap" value="{{item.id}}" ng-selected="item.id==referenced.selectedAuthor">{{item.name}}</option>
                    </select>
                </td>
                <td align="center" style="width: 210px">
                    <tags-input style="width: 200px" ng-model="circlesForSearch" placeholder="Çevre Seçiniz"
                                display-property="name"
                                replace-spaces-with-dashes="false" min-length="1" add-from-autocomplete-only="true"
                                add-on-blur="false">
                        <auto-complete source="circleslistForSearch()" load-on-empty="true"
                                       load-on-focus="true"></auto-complete>
                    </tags-input>
                </td>
                <td align="center" style="width: 310px">
                    <tags-input style="width: 300px" ng-model="usersForSearch" placeholder="Kişi Seçiniz"
                                display-property="name"
                                replace-spaces-with-dashes="false" min-length="2">
                        <auto-complete source="peoplelist($query)" min-length="2"></auto-complete>
                    </tags-input>
                </td>
                <td align="right" style="width: 260px">
                    <button style="width:260px; height: 35px" ng-click="updateTags()"
                            class="btn btn-primary btn-wide-">Çevreye / Kişiye ait etiketleri göster
                    </button>
                </td>
            </tr>
        </table>
        <br>
        <div ng-repeat="verseId in referenced.verseIds" style="width: 900px" align="left" >
            <b>
                <a href="" ng-click='showVerseDetail(verseId, usersForSearch, circlesForSearch)' data-target='#detailedVerseModal' data-dismiss='modal' data-toggle='modal'>{{getChapterVerseNotation(verseId)}}</a>
            </b> {{referenced.verses[verseId].translation}}
            <br>
            <div style="height: 30px" align="right">
                <button ng-repeat="tag in referenced.verses[verseId].tags" class="btn verse_tag ng-binding btn-info btn-xs"
                        ng-click="goToVerseTag(referenced.selectedAuthor, verseId, tag, usersForSearch, circlesForSearch)" data-target='#taggedVerseModal' data-dismiss='modal'
                        data-toggle='modal'
                >{{tag}}</button>
            </div>
        </div>
    </div>

    <div align="center" class="row" ng-if="authorizedInferenceDisplay == 2">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td align="center" style="padding-right: 15px; padding-left: 15px; padding-bottom: 15px;
                    width: 1050px; padding-top: 15px; background-color:#fff6dc">
                    <strong>Bu çıkarımı görüntüleme yetkisine sahip değilsiniz!</strong>
                </td>
            </tr>
        </table>
    </div>
<br><br>
</div>
<div align="center">
    <digercevremodal title="Not Silme" visible="digercevre">
        <div align="left">
            <label>Çıkarım notu silinecek Onaylıyor musunuz?</label>

        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-primary btn-wide" data-dismiss="modal">Vazgeç</a>
            <a class="btn btn-primary btn-wide btn-danger" ng-click="delete_inference()" data-dismiss="modal">Sil</a>
        </div>
    </digercevremodal>
</div>
<div ng-include="'app/components/partials/off_canvas_menu.html'"></div>
</body>