<body>
<div class="container">
    <div ng-include="'app/components/inferences/inferences_navigation.html'"></div>
    <div class="nav-bottom"></div>
    <div class="row">
        <h1>Inferences {{pagePurpose}}</h1>
        <h2>controller/scope inference ID: {{inferenceId}}</h2>
        <form method="post">
            <textarea id="mytextarea"></textarea>
        </form>
        <!-- <textarea ng-model="tinymce" id="{{fileUploaderID}}_html_tab" name="{{fileUploaderID}}_html_tab" style="width:600px; height:300px"></textarea> -->
    </div>
</div>

</body>