<nav class="navbar navbar-default navbar-fixed-top container" role="navigation">
    <div class="row" style="padding-left: 15px;">
        <div style="float: left;">
            <button onclick="toggleLeftPanel()" class="btn btn-primary"><i
                    class="fa fa-bars"></i> {{'MENÜ' | translate}}
            </button>

            <a href="#!/inferences/" id="fp" class="btn btn-primary" data-target="#inferencesFilterModal" data-toggle="modal"><i class="fa fa-search" style="font-size: 1.3em"></i> {{'Ara' | translate}}</a>

            <a href="#!/inference/new/" id="phy" ng-class="{back_orange: currentPage == 'people_have_you'}" class="btn btn-primary" translate>Yeni Çıkarım Notu</a>

        </div>

        <div class="facebook_area">
            <div ng-if="user==null">
                <button type="button" id="login" data-target='#loginModal' data-toggle='modal' class="btn btn-primary" translate>Giriş</button>
            </div>
            <div ng-if="user!=null">
                <!-- <img ng-src="{{user.photo}}" height="30"/> -->
                <div id="loginMenu" class="dropdown" style="display: inline-block">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <img ng-src="{{user.photo}}" height="34px" alt="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="btn-default"><a href="#!/profile/user/{{user.id}}" translate>Profilim</a></li>
                        <li class="btn-default"><a href="#!/user/account/settings" translate>Hesabım</a></li>
                    </ul>
                </div>
                <span style="vertical-align: middle;">{{user.name}} &nbsp;</span>
                <select name="language-selection"
                        ng-model="selectedLanguage"
                        ng-options="language.name as language.label for language in languages"
                        ng-selected="selectedLanguage==language.name"
                        ng-change="changeLanguage(selectedLanguage)">
                </select>
            </div>
        </div>
    </div>
</nav>