<body>
<div ng-include="'app/components/partials/off_canvas_menu.html'"></div>
<div class="container" ng-init="initializeCircleLists()">
    <div ng-include="'app/components/inferences/inferences_navigation.html'"></div>
    <div ng-include="'app/components/partials/add_verse_to_inference_from_verselist.html'"></div>
    <div class="nav-bottom"></div>
    <div class="row" align="center">
    <br />
    <br />

    <table>
        <tr>
            <td style="vertical-align: top; width: 600px" align="left">
                            <input id="title" ng-model="inferenceData.title" class="form-control" placeholder="Başlık" style="width: 580px" type="text" /><br />
                <br />
                <br />
                </td>
            <td align="center" style="vertical-align: top; width: 180px">
            <input type="text" class="form-control" id="inferenceImage" style="width: 165px" placeholder="Image URL" ng-model="inferenceData.image">
            <img style="background-image: url('assets/img/resim_ekle_tikla.png')" height="100" src="{{inferenceData.image}}" width="165" class="file-manager-linked" data-input-id="inferenceImage"/></td>
        </tr>
    </table>
        <br />

        <div style="width : 770px;">
            <textarea ng-model="inferenceData.content" ui-tinymce="tinymceOptions" style="height:350px">

            </textarea>
        </div>
        <br /><br />

        <div align="left" style="width:760px">
            <input class="form-control btn-primary" style="width:initial" type="button" value="Referans Ayet Ekle" data-target='#addVerseToInferenceFromVerseList' data-toggle='modal' ng-click="openVerseListForVerseSelection(copyValueFromSelectedList)"/>
        </div>
        <br />

        <div align="left" style="width:760px">
        Etiketler
            <tags-input ng-model="tags_entry" display-property="name" placeholder="Etiket girin" replace-spaces-with-dashes="false" min-length="2">
            <auto-complete source="loadTags($query)" min-length="2" select-first-match="false"></auto-complete>
            </tags-input>
        </div>
        
         <br />
    
        <table style="width: 760px">
            <tr>
                <td align="left" style="width: 380px">
                    <div style="width:360px">
                        Hangi Çevreler Görebilir
                        <tags-input ng-model="circlesForSearch" placeholder="Çevre Seçiniz" display-property="name"
                                    replace-spaces-with-dashes="false" min-length="1" add-from-autocomplete-only="true"
                                    add-on-blur="false">
                            <auto-complete source="extendedCircles" load-on-empty="true"
                                           load-on-focus="true"></auto-complete>
                        </tags-input>
                    </div>
</td>
<td>
                    <div style="width:360px; margin-left:20px">
                        Ayrıca Kimler Görebilir
                        <tags-input ng-model="usersForSearch" placeholder="Kişi Seçiniz" display-property="name"
                                    replace-spaces-with-dashes="false" min-length="2">
                            <auto-complete source="peoplelist($query)" min-length="2"></auto-complete>
                        </tags-input>
                    </div>

                </td>
            </tr>
        </table>
        <br />
    <br />
    <div align="left" style="width:760px">
        <input id="Checkbox1" ng-model="show_entry" type="checkbox" checked="CHECKED"/>&nbsp; Görebilen herkes yorum da
        yazabilir.<br/>
        <div ng-show="!show_entry" >
        <table style="width: 760px">
            <tr>
                <td align="left" style="width: 380px; height: 97px;">
                    <div style="width:360px">
                        Hangi Çevreler Yorum Yazabilir
                        <tags-input ng-model="circlesForSearch1" placeholder="Çevre Seçiniz" display-property="name" replace-spaces-with-dashes="false" min-length="1" add-from-autocomplete-only="true" add-on-blur="false">
                        <AUTO-COMPLETE source="extendedCircles" load-on-focus="true" load-on-empty="true"/>
                        </tags-input>
                    </div>
                </td>
                <td align="left" style="width: 380px; height: 97px;">
                    <div style="width:360px; margin-left:20px">
                        Ayrıca Kimler Yorum Yazabilir
                        <tags-input ng-model="usersForSearch1" placeholder="Kişi Seçiniz" display-property="name" replace-spaces-with-dashes="false" min-length="2">
                        <AUTO-COMPLETE min-length="2" source="peoplelist($query)" />
                        </tags-input>
                    </div>
                </td>
            </tr>
        </table>
            <div align="right">
            </div>
        </div>
    </div>
    </div>
    <div align="center">
                <table style="width: 760px">
                    <tr>
                        <td align="right" style="width: 620px">
                            <a ng-if="pagePurpose!='edit'" href="#/inferences"><input id="Button1" class="form-control btn-warning" style="width:120px"
                                                                                 type="button" value="Vazgeç"/></a>
                            <a ng-if="pagePurpose=='edit'" href="#/inference/display/{{inferenceId}}"><input id="Button1" class="form-control btn-warning" style="width:120px"
                                   type="button" value="Vazgeç"/></a>
                        </td>
                        <td align="right" style="width: 140px">
                            <input id="save" class="form-control btn-primary" style="width:120px" ng-click="do_array()"
                                   type="button" value="Kaydet"/></td>
                    </tr>
                </table>
            </div>
    <br />
    <br />
    <br />
    <br />

</body>