<body>
<div class="container" ng-init="initializeCircleLists()">
    <div ng-include="'app/components/inferences/inferences_navigation.html'"></div>
    <div class="nav-bottom"></div>
    <div class="row" align="center">
    <br />
    <br />

            <div class="form-group">
                <label for="image-1" class="col-sm-2 control-label">Image</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control file-manager" id="image-1" placeholder="Focus to select image">
                </div>
            </div>

            <p>It is also possible to open the file manager using a button and then have the file url place in a text field. To do this add the class <code>file-manager-linked</code> to the button and then add the attribute <code>data-input-id="text-input-id"</code> to the same button</p>

            <div class="form-group">
                <label for="image-1" class="col-sm-2 control-label">Another File</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="text" class="form-control" id="image-2" placeholder="Click on the button to select image">
                          <span class="input-group-btn">
                            <button class="btn btn-default file-manager-linked" type="button" data-input-id="image-2" >Click to select Image</button>
                          </span>
                    </div>
                </div>
            </div>
    <table>
        <tr>
            <td style="vertical-align: top; width: 600px" align="left">
                            <input id="title" ng-model="title" class="form-control file-manager" placeholder="Başlık" style="width: 580px" type="text" /><br />
                <br />
                <br />
                </td>
            <td align="center" style="vertical-align: top; width: 180px">
                <img height="100" for="image-1" src="" width="165" class="control-label"/></td>
        </tr>
    </table>
        <br />

        <div style="width : 770px;">
            <div ng-model="content" class="form-control" id="mytextarea" ui-tinymce="tinymceOptions" name="content"
                 style="height:350px">
            </div>

        </div>
             <br />
      <br />
        <div align="left" style="width:760px">
        Etiketler
            <tags-input ng-model="tags_entry" display-property="name" placeholder="Etiket girin" replace-spaces-with-dashes="false" min-length="2">
            <auto-complete source="loadTags($query)" min-length="2" select-first-match="false"></auto-complete>
            </tags-input>
        </div>
        
         <br />
    
        <table style="width: 760px">
            <tr>
                <td align="left" style="width: 380px">
                    <div style="width:360px">
                        Hangi Çevreler Görebilir
                        <tags-input ng-model="circlesForSearch" placeholder="Çevre Seçiniz" display-property="name"
                                    replace-spaces-with-dashes="false" min-length="1" add-from-autocomplete-only="true"
                                    add-on-blur="false">
                            <auto-complete source="circleslistForSearch()" load-on-empty="true"
                                           load-on-focus="true"></auto-complete>
                        </tags-input>
                    </div>
</td>
<td>
                    <div style="width:360px; margin-left:20px">
                        Ayrıca Kimler Görebilir
                        <tags-input ng-model="usersForSearch" placeholder="Kişi Seçiniz" display-property="name"
                                    replace-spaces-with-dashes="false" min-length="2">
                            <auto-complete source="peoplelist($query)" min-length="2"></auto-complete>
                        </tags-input>
                    </div>

                </td>
            </tr>
        </table>
        <br />
    <br />
    <div align="left" style="width:760px">
    <input id="Checkbox1" ng-model="show_entry" type="checkbox"/>&nbsp; Görebilen herkes yorum da yazabilir.<br />
        <div ng-show="!show_entry" >
        <table style="width: 760px">
            <tr>
                <td align="left" style="width: 380px; height: 97px;">
                    <div style="width:360px">
                        Hangi Çevreler Yorum Yazabilir
                        <tags-input ng-model="circlesForSearch1" placeholder="Çevre Seçiniz" display-property="name" replace-spaces-with-dashes="false" min-length="1" add-from-autocomplete-only="true" add-on-blur="false">
                        <AUTO-COMPLETE source="circleslistForSearch()" load-on-focus="true" load-on-empty="true"/>
                        </tags-input>
                    </div>
                </td>
                <td align="left" style="width: 380px; height: 97px;">
                    <div style="width:360px; margin-left:20px">
                        Ayrıca Kimler Yorum Yazabilir
                        <tags-input ng-model="usersForSearch1" placeholder="Kişi Seçiniz" display-property="name" replace-spaces-with-dashes="false" min-length="2">
                        <AUTO-COMPLETE min-length="2" source="peoplelist($query)" />
                        </tags-input>
                    </div>
                </td>
            </tr>
        </table>
            <div align="right">
                &nbsp;</div>

            <div align="right">
                <table style="width: 760px">
                    <tr>
                        <td align="right" style="width: 620px">
                            <input id="Button1" class="form-control" style="width:120px" ng-click="do_array()"
                                   type="button" value="Vazgeç"/></td>
                        <td align="right" style="width: 140px">
                            <input id="save" class="form-control" style="width:120px" ng-click="do_array()"
                                   type="button" value="Kaydet"/></td>
                    </tr>
                </table>
            </div>
    
    </div>
    </div>
    </div>   
    <br />
    <br />
    <br />
    <br />

</body>