<nav class="navbar navbar-default navbar-fixed-top container" role="navigation">
    <div class="row" style="padding-left: 15px;">
        <div style="float: left;">
            <button onclick="toggleLeftPanel()" class="btn btn-primary"><i
                    class="fa fa-bars"></i> MENÜ
            </button>

            <a href="#/inferences/" id="fp" class="btn btn-primary" data-target="#inferencesFilterModal" data-toggle="modal"><i class="fa fa-search"
                                                                                                                                 style="font-size: 1.3em"></i> Ara</a>

            <a href="#/inference/new/" id="phy" ng-class="{back_orange: currentPage == 'people_have_you'}" class="btn btn-primary">Yeni Çıkarım Notu
            </a>

        </div>

        <div ng-show="facebookIsReady" class="facebook_area">
            <div ng-if="user==null">
                <button type="button" id="login" ng-click="login()" class="btn btn-primary">
                    Giriş
                </button>
            </div>
            <div ng-if="user!=null">
                <img ng-src="{{user.photo}}" height="30"/>
                <span style="vertical-align: bottom;">{{user.name}}</span>
            </div>
        </div>
    </div>
</nav>