<div class="modal" id="noInternetConnection">
    <div class="modal-xl modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn" style="float: right;margin-top: -35px;">Tamam</button>
            </div>
            <div class="modal-body">
                <div style="height: 50px"></div>
                İnternet bağlantınız bulunmamaktadır. Yapabileceğiniz İşlemler kısıtlanmıştır. İşlem listesi aşağıdaki şekildedir...
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="retry()">YENİDEN DENE</button>
                <button class="btn btn-danger" ng-click="cancel()">TAMAM</button>
            </div>
        </div>
    </div>
</div>