<nav class="navbar navbar-default navbar-fixed-top container" role="navigation">
    <div class="row" style="padding-left: 15px;">
        <div style="float: left;">
            <button onclick="toggleLeftPanel()" class="btn btn-primary"><i
                    class="fa fa-bars"></i> {{'MENÜ' | translate}}
            </button>

            <a href="#!/people/find_people/" id="fp" ng-class="{back_orange: currentPage == 'people_find'}" class="btn btn-primary" translate>Kullanıcı Bul</a>

            <a href="#!/people/people_have_you/" id="phy" ng-class="{back_orange: currentPage == 'people_have_you'}" class="btn btn-primary" translate>Takipçilerim</a>

            <a href="#!/people/circles/" id="crcl" ng-class="{back_orange: currentPage == 'people_circle'}" class="btn btn-primary" translate>Çevrelerim</a>
<!--
            <a href="#/people/explore/" id="exp" class="btn btn-primary">Keşfet
            </a>
-->
        </div>

        <div class="facebook_area">
            <div ng-if="user==null">
                <button type="button" id="login" data-target='#loginModal' data-toggle='modal' class="btn btn-primary" translate>Giriş</button>
            </div>
            <div ng-if="user!=null">
                <!-- <img ng-src="{{user.photo}}" height="30"/> -->
                <div id="loginMenu" class="dropdown" style="display: inline-block">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <img ng-src="{{user.photo}}" height="34px" alt="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="btn-default"><a href="#!/profile/user/{{user.id}}" translate>Profilim</a></li>
                        <li class="btn-default"><a href="#!/user/account/settings" translate>Hesabım</a></li>
                    </ul>
                </div>
                <span style="vertical-align: middle;">{{user.name}} &nbsp;</span>
                <select name="language-selection"
                        ng-model="selectedLanguage"
                        ng-options="language.name as language.label for language in languages"
                        ng-selected="selectedLanguage==language.name"
                        ng-change="changeLanguage(selectedLanguage)">
                </select>
            </div>
        </div>
    </div>
</nav>