.authorDiv_1 {
    background-color: rgba(137, 196, 244,0.5);

}

.authorDiv_2 {
    background-color: rgba(162, 222, 208,0.5);
}

.authorDiv_3 {
    background-color: rgba(245, 215, 110,0.5);

}

.authorDiv_4 {
    background-color: rgba(137, 196, 244,0.5);

}

.authorDiv_5 {
    background-color: rgba(220, 198, 224,0.5);

}

.authorDiv_6 {
    background-color: rgba(253, 227, 167,0.5);

}

.authorDiv_7 {
    background-color: rgba(92, 151, 191,0.5);

}

.authorDiv_8 {
    background-color: rgba(78, 205, 196,0.5);

}

.authorDiv_9 {
    background-color: rgba(247, 202, 24,0.5);

}

.authorDiv_10 {
    background-color: rgba(162, 222, 208,0.5);

}

.authorDiv_11 {
    background-color: rgba(174, 168, 211,0.5);

}
.authorDiv_12 {
    background-color: rgba(248, 148, 6,0.5);

}

.authorDiv_13 {
    background-color: rgba(37, 116, 169,0.5);

}

.authorDiv_14 {
    background-color: rgba(3, 201, 169,0.5);

}

.authorDiv_15 {
    background-color: rgba(244, 208, 63,0.5);
}

.authorDiv_16 {
    background-color: rgba(253, 227, 167,0.5);
}

.authorDiv_17 {
    background-color: rgba(190, 144, 212,0.5);
}

.authorDiv_18 {
    background-color: rgba(235, 149, 50,0.5);
}

.authorDiv_19 {
    background-color: rgba(107, 185, 240,0.5);
}

.authorDiv_20 {
    background-color: rgba(144, 198, 149,0.5);
}

.authorDiv_21 {
    background-color: rgba(241, 196, 15,0.5);
}
.authorDiv_22 {
    background-color: rgba(217, 30, 24,0.5);
}

.authorDiv_23 {
    background-color: rgba(232, 126, 4,0.5);
}

.authorDiv_24 {
    background-color: rgba(82, 179, 217,0.5);
}

.authorDiv_25 {
    background-color: rgba(42, 187, 155,0.5);
}

.authorDiv_26 {
    background-color: rgba(239, 72, 54,0.5);
}

.authorDiv_27 {
    background-color: rgba(244, 179, 80,0.5);
}
.authorDiv_28 {
    background-color: rgba(231, 76, 60,0.5);
}
.authorDiv_29 {
    background-color: rgba(220, 198, 224,0.5);
}
.authorDiv_30 {
    background-color: rgba(245, 215, 110,0.5);
}

.a_hl_red {
    background-color: rgba(255, 0, 0, 0.3);
}

.a_hl_yellow {
    background-color: rgba(255, 255, 10, 0.3)
}

.a_hl_green {
    background-color: rgba(0, 255, 0, 0.3);
}

.a_hl_blue {
    background-color: rgba(0, 0, 255, 0.3);
}

.verse_tag_content {
    background-color: #eeeeee;
    padding: 10px;
}

.s_a_text {
    margin-bottom: 0 !important;
    text-align: left;
    background-color: #fefae9;
    padding: 5px;
    display:block;
}