.authorDiv_1 {
    background-color: #89C4F4;
}

.authorDiv_2 {
    background-color: #A2DED0;
}

.authorDiv_3 {
    background-color: #F5D76E;
}

.authorDiv_4 {
    background-color: #89C4F4;
}

.authorDiv_5 {
    background-color: #DCC6E0;
}

.authorDiv_6 {
    background-color: #FDE3A7;
}

.authorDiv_7 {
    background-color: #5C97BF;
}

.authorDiv_8 {
    background-color: #4ECDC4;
}

.authorDiv_9 {
    background-color: #F7CA18;
}

.authorDiv_10 {
    background-color: #A2DED0;
}

.authorDiv_11 {
    background-color: #AEA8D3;
}
.authorDiv_12 {
    background-color: #F89406;
}

.authorDiv_13 {
    background-color: #2574A9;
}

.authorDiv_14 {
    background-color: #03C9A9;
}

.authorDiv_15 {
    background-color: #F4D03F;
}

.authorDiv_16 {
    background-color: #FDE3A7;
}

.authorDiv_17 {
    background-color: #BE90D4;
}

.authorDiv_18 {
    background-color: #EB9532;
}

.authorDiv_19 {
    background-color: #6BB9F0;
}

.authorDiv_20 {
    background-color: #90C695;
}

.authorDiv_21 {
    background-color: #f1c40f;
}
.authorDiv_22 {
    background-color: #D91E18;
}

.authorDiv_23 {
    background-color: #E87E04;
}

.authorDiv_24 {
    background-color: #52B3D9;
}

.authorDiv_25 {
    background-color: #2ABB9B;
}

.authorDiv_26 {
    background-color: #EF4836;
}

.authorDiv_27 {
    background-color: #F4B350;
}
.authorDiv_28 {
    background-color: #e74c3c;
}
.authorDiv_29 {
    background-color: #DCC6E0;
}
.authorDiv_30 {
    background-color: #F5D76E;
}

.a_hl_red {
    background-color: rgba(255, 0, 0, 0.3);
}

.a_hl_yellow {
    background-color: rgba(255, 255, 10, 0.3)
}

.a_hl_green {
    background-color: rgba(0, 255, 0, 0.3);
}

.a_hl_blue {
    background-color: rgba(0, 0, 255, 0.3);
}

.verse_tag_content {
    background-color: #eeeeee;
    padding: 10px;
}

.s_a_text {
    margin-bottom: 0 !important;
    text-align: left;
    background-color: #fefae9;
    padding: 5px;
    display:block;
}