@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width:1200px;
    }
}

.bottom-nav{
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    z-index: 1020;
    color: #fff;
    bottom: 0px;
    left: 0;
    width: 100%;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 4px solid #d4d4d4;
    -webkit-transition: bottom .4s ease-out;
    -moz-transition: bottom .4s ease-out;
    -o-transition: bottom .4s ease-out;
    transition: bottom .4s ease-out;
    position: fixed;
}

.btn-circle {
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 3px 0;
    font-size: 6px;
    line-height: 1.428571429;
    border-radius: 7.5px;
    background-color: #e74c3c;
}

#verselist_verses_content .item-content{
    padding: 5px !important;
    text-align: justify;
}

.smart-app-banner {
    zoom:1;position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    background-color: #d2d2d2;
    z-index: 500;
    display: none
}

.smart-app-banner:before,.smart-app-banner:after {
    display: table;
    content: "";
    zoom:1
}

.smart-app-banner:after {
    clear: both
}

.smart-app-banner.visible {
    display: block
}

.smart-app-banner h3 {
    line-height: 60px;
    display: inline-block;
    padding: 0;
    margin: 0;
    padding-left: 68px
}

.smart-app-banner h3:before {
    background-image: url('../img/kurancalis_logo_57.png');
    background-size: auto;
    background-position: -116px -110px;
    width: 57px;
    height: 57px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 27px;
    top: 1px;
    border-radius: 12px;
}

@media(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio: 3/2),(-webkit-min-device-pixel-ratio:1.5),(min-resolution:1.5dppx) {
    .smart-app-banner h3:before {
        background-image:url('../img/kurancalis_logo_57.png');
        background-position: -116px -110px;
        background-size: auto;
        -webkit-background-size: auto;
        -moz-background-size: auto;
    }
}

.smart-app-banner h3 span {
    color: #333;
    font-size: 15px;
    position: relative;
    display: block;
    line-height: 44px
}

.smart-app-banner h3 span i {
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    color: #888;
    font-size: 11px;
    font-style: normal;
    width: 130px;
}

.smart-app-banner a.app-button {
    float: right;
    margin-right: 10px;
    margin-top: 14px;
    padding: 6px 10px;
    font-size: 12px;
    background-color: #437db9;
    color: #fff;
    border-radius: 5px;
}

.smart-app-banner a.app-button:hover {
    color: #fff
}

.smart-app-banner a.close-button {
    line-height: 50px;
    padding: 0px 5px;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    margin-left: 5px;
}

.smart-app-banner a.close-button:before {
    content: 'x';
    display: inline-block;
    padding-bottom: 4px;
}

@media(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio: 3/2),(-webkit-min-device-pixel-ratio:1.5),(min-resolution:1.5dppx) {
    .smart-app-banner a.close-button:before {
        content: 'x';
        vertical-align: middle;
    }
}

.showBanner .view, .showBanner .modal-wrapper .modal.active{
    top: 60px
}

.hideBanner .modal-wrapper .modal.active{
    top : 0px;
}

