
/* theme hack */
body{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size:16px !important;
    line-height: 1.42857 !important;
}

p{
    font-size:16px !important;
    line-height: 1.42857 !important;
}

hr{
    border-color: #7f8c8d !important;
    width: 80%;
    margin-top:10px !important;
    margin-bottom: 10px !important;
}

blockquote {
    border-left: 3px solid #d3d3d3;
    color: #777;
    font-family: Georgia, "Bitstream Charter", Times, "Times New Roman", serif;
    font-style: italic;
    padding: 0 0.615em;
    font-size: 15px !important;
    margin:0 !important;
}

.well{
    padding-top:0 !important;
    padding-bottom:5px !important;
}
/* end of theme hack */


/* flat ui modal fix*/
.fixed-dialog {
    position: fixed;
    top: 20px;
    left: 20px;
}


/*
5C97BF
*/

.footnote {
    background-color: red;
}

.footnotebg {
    background-color: #D9DCDE;
}

.footnote_asterisk {

}

.footnote_bullet {
    text-align: center;
    vertical-align: middle;
}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.translations {
    padding-top: 0 !important;
}

.facebook_area {
    float: right;
    padding-right: 20px;
}



.large_icon{
    font-size: 1.3em;
}

/* annotation editor */
#annotationData_header {
    padding: 5px 3px;
    font-size: 18px;
    overflow: hidden;
    color: black;
}

#annotationData_header strong {
    color: black;
}

.tag_colour {
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.tag_colour_description{
    float:left;
    padding-left:5px;
}

/* end of annotation editor */

.s_a_tag {
    /* sidebar annotation tag */
    margin-left: 5px !important;
}

.s_a_text {
    margin-bottom: 0 !important;
    text-align: left;
    background-color: #fefae9;
    padding: 5px;
}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: block;
    margin-top: 15px;
    padding: 10px 8px;
}

.sidebar_annotation {
    cursor: pointer;
}

.verse_tag {
    margin-right: 5px;
}

.selected_list_item {
    background-color: rgba(0, 255, 0, 0.3);
}

.selectable_list {
    list-style-type: none;
}

.selectable_list li {
    cursor: pointer;
    cursor: hand;
}

.verse_tag_content {
    background-color: #eeeeee;
    padding: 10px;
}

.ui-select-match span, .ui-select-match span:hover {
    background-color: #ffffff;
    color: #000000;
}

.nav-bottom {
    height: 70px;
}
.small_space{
    height: 5px;
}

.translation_rtl{
    /* direction: rtl; */
    font-size: 35px;

}


/* left menu */
.side-menu-container > .navbar-nav {
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    width: 220px;
}
.side-menu .navbar-nav .active a {
    background-color: transparent;
    margin-right: -1px;
    border-right: 5px solid #e7e7e7;

}
.side-menu .navbar-nav li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
    padding: 15px;
    color: #777;
}
.side-menu .navbar-nav li a .glyphicon {
    padding-right: 10px;
}
/* end of left menu */


/* tutorial carousel */
.carousel-indicators{
    right: auto !important;
    top: auto !important;
    left: 45% !important;
    padding-top:15px;
}
.carousel-indicators li.active {
    background-color: #1abc9c !important;
}
/* end of tutorial carousel */