/* flat ui modal fix*/
.fixed-dialog{
  position: fixed;
  top: 20px;
  left: 20px;
}

hr {
    border-color:#7f8c8d !important;
    width: 80%;
 }

.authorDiv_1{
    background-color: #C5F7EB;
}
.authorDiv_2{
    background-color: #C5CEF7;
}
.authorDiv_3{
    background-color: #EEC5F7;
}
.authorDiv_4{
    background-color: #F7D1C5;
}
.authorDiv_5{
    background-color: #F7E8C5;
}
.authorDiv_6{
    background-color: #F7F2C5;
}
.authorDiv_7{
    background-color: #E8F7C5;
}
/* tekrar */
.authorDiv_8{
    background-color: #C5F7EB;
}
.authorDiv_9{
    background-color: #C5CEF7;
}
.authorDiv_10{
    background-color: #EEC5F7;
}
.authorDiv_11{
    background-color: #F7D1C5;
}