
/* theme hack */
body{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size:16px !important;
    line-height: 1.42857 !important;
}

p{
    font-size:16px !important;
    line-height: 1.42857 !important;
}

hr{
    border-color: #7f8c8d !important;
    width: 80%;
    margin-top:10px !important;
    margin-bottom: 10px !important;
}

blockquote {
    border-left: 3px solid #d3d3d3;
    color: #777;
    font-family: Georgia, "Bitstream Charter", Times, "Times New Roman", serif;
    font-style: italic;
    padding: 0 0.615em;
    font-size: 15px !important;
    margin:0 !important;
}

.well{
    padding-top:0 !important;
    padding-bottom:5px !important;
}
/* end of theme hack */

.aktif, .inactive {font-size:40px;cursor:pointer;}
.aktif, .inactive {font-size:40px;cursor:pointer;}
i.aktif { color: #5cb85c}
i.inactive {color: #d9534f}

/* flat ui modal fix*/
.fixed-dialog {
    position: fixed;
    top: 20px;
    left: 20px;
}


/*
5C97BF
*/

.footnote {
    background-color: red;
}

.footnotebg {
    background-color: #D9DCDE;
}

.footnote_asterisk {

}

.footnote_bullet {
    text-align: center;
    vertical-align: middle;
}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.translations {
    padding-top: 10px !important;
}

.chapter_verse_number{
    font-size:20px;
    line-height:20px;
    width:65px;
}

.facebook_area {
    float: right;
    padding-right: 20px;
}



.large_icon{
    font-size: 1.3em;
}

/* annotation editor */
#annotationData_header {
    padding: 5px 3px;
    font-size: 18px;
    overflow: hidden;
    color: black;
}

#annotationData_header strong {
    color: black;
}

.tag_colour {
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.tag_colour_description{
    float:left;
    padding-left:5px;
}

/* end of annotation editor */

.s_a_tag {
    /* sidebar annotation tag */
    margin-left: 5px !important;
}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: block;
    margin-top: 15px;
    padding: 10px 8px;
}

.sidebar_annotation {
    cursor: pointer;
}

.verse_tag {
    margin-right: 5px;
}

.selected_list_item {
    background-color: rgba(0, 255, 0, 0.3);
}

.selectable_list {
    list-style-type: none;
}

.selectable_list li {
    cursor: pointer;
    cursor: hand;
}

.ui-select-match span, .ui-select-match span:hover {
    background-color: #ffffff;
    color: #000000;
}

.nav-bottom {
    height: 70px;
}
.small_space{
    height: 5px;
}

.translation_rtl{
    /* direction: rtl; */
    font-size: 35px !important;

}

.translation_content{
    font-size: 18px;

}

.translation_span{
    padding-left:10px;
}

/* left menu */
.side-menu-container > .navbar-nav {
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    width: 220px;
}
.side-menu .navbar-nav .active a {
    background-color: transparent;
    margin-right: -1px;
    border-right: 5px solid #e7e7e7;

}
.side-menu .navbar-nav li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
    padding: 15px;
    color: #777;
}
.side-menu .navbar-nav li a .glyphicon {
    padding-right: 10px;
}
/* end of left menu */


/* tutorial carousel */
.carousel-indicators{
    right: auto !important;
    top: auto !important;
    left: 45% !important;
    padding-top:15px;
}
.carousel-indicators li.active {
    background-color: #1abc9c !important;
}
.back_orange {
	background-color: orange !important;
}

/* author links */
/* unvisited link */
.author a:link {
    color: #FFFFFF;
}

/* visited link */
.author a:visited {
    color: #ffffff;
}

/* mouse over link */
.author a:hover {
    color: blue;
}

/* selected link */
.author a:active {
    color: #000000;
}
/* end of tutorial carousel */

.translation_nav_col1{
    width:60px;
    float:left;
}

/* mobil bookmark */

/* Android action sheet design */
.platform-android .action-sheet-cancel {
    display: block !important;
}
platform-android .action-sheet-backdrop.active {
background-color: rgba(0, 0, 0, 0.2); }
.platform-android .action-sheet {
margin: 0; }

.platform-android .action-sheet-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.platform-android .action-sheet {
    margin-left: 8px;
    margin-right: 8px;
    width: auto;
    z-index: 11;
    overflow: hidden;
}

.platform-android .action-sheet-options {
    background: #f1f2f3;
}

.platform-android .action-sheet-group {
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}

.platform-android .action-sheet .button {
    display: block;
    padding: 1px;
    width: 100%;
    border-radius: 0;
    border-color: #d1d3d6;
    background-color: transparent;
    color: #007aff;
    font-size: 21px;
    text-align: center;
}

.platform-android .action-sheet-group .button:first-child:last-child {
    border-width: 0;
}

    .col-m-sm-1{
        width: 30%;
        float: left;
        height: 80px;
    margin-top: -6px;
    }
    .col-m-sm-1 .fa-bookmark{margin-top: 15%;}
    .col-m-sm-3{
        width: 60%;
    }
    .col-m-sm-3 h4{ text-align: left;line-height: 100px; }
    
    .modal-footer{
        clear: both;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    }
    
    .button-bookmark{
        padding: 0 !important;
        min-width: 18px !important;
        min-height: 18px !important;
        line-height: normal !important;
        height: 18px !important;
    }
    .button-bookmark i:before{line-height: 18px !important;font-size: 20px;}
/* ! mobil bookmark */

.btn-created,
.btn-deleted{
    min-height: 30px !important;
    min-width: 30px !important;
    width: 30px;
    height: 30px;
    padding: 0 7px !important;
}
.btn-created:before,
.btn-deleted:before{
    line-height: 28px !important;
}

@media screen and (min-width: 480px) {
    .mycol2 {
        width:600px;
    }
}
@media screen and (min-width: 720px) {
    .mycol2 {
        width:720px;
    }
}

@media screen and (min-width: 1200px) {
    .mycol2 {
        width:900px;
    }
}

.wordwrap{
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

div.checkbox.checkbox-input-hidden.checkbox-circle{
    padding-left: 0px;
    padding-right: 0px;
}