<html ng-app="ionicApp" ng-controller="MainCtrl">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <script id="angularScript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script id="angularResourceScript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-resource.js"></script>
    <script id="homeController" src="homeController.js"></script>

    <!-- Loading Bootstrap -->
    <link href="http://kurancalis.com/include/flat_ui/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Loading Flat UI Pro -->
    <link href="http://kurancalis.com/include/flat_ui/dist/css/flat-ui-pro.css" rel="stylesheet">

</head>
<body ng-app="ionicApp" ng-controller="MainCtrl">

<div class="container">

<nav class="navbar navbar-default" role="navigation">

    <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <input type="text" ng-model="chapter_id" value="1" placeholder="Chapter"/>
        <input type="hidden" ng-model="author_mask" value="48"/>

        <button class="btn btn-primary" data-target="#myModal" data-toggle="modal" type="button"><i class="fa fa-user"></i></button>
    </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" style="float:right;"><i class="fa fa-close"></i></button>
                    <h4 class="modal-title">Yazarlar</h4>
                </div>

                <div class="modal-body">
                    <label ng-repeat="author in authors">
                        <input
                                type="checkbox"
                                name="selectedauthors[]"
                                value="{{author.id}}"
                                ng-checked="selection.indexOf(author.id) > -1"
                                ng-click="toggleSelection(author.id)"
                                > {{author.name}}
                    </label>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-primary btn-wide" data-target="#myModal" data-toggle="modal" >Tamam</a>
                </div>
            </div>
        </div>
    </div>

<button type="button" id="list_translations" ng-click="list_translations()">list_translations</button>
<button type="button" id="list_authors" ng-click="list_authors()">list_authors</button>


<table>
    <tr ng-repeat="verse in verses">
        <td>{{verse.id}}</td>
        <td>
            <table>
                <tr ng-repeat="translation in verse.translations">
                    <td>{{translation.chapter}}:{{translation.verse}}</td><td>{{translation.content}}</td><td>{{translation}}</td>
                </tr>
            </table>

        </td>


    </tr>
</table>


<h3>Nesneler</h3>
    author ids:{{selection}}
    author mask: {{author_mask}}

<pre>translationList = {{verses| json}}</pre>
<pre>size = {{verses.length}}</pre>



</div><!-- /container-->

<!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
<script src="http://kurancalis.com/include/flat_ui/dist/js/vendor/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://kurancalis.com/include/flat_ui/dist/js/flat-ui-pro.js"></script>
</body>
</html>