<div id='verse_popover' class='form-control' style='width:220px; height:auto'>
    <div style='width:100%' ng-click='linkcreate({{translation.chapter}},{{translation.verse}})' data-target='#openlink'
         data-toggle='modal'>Kelime Meali
    </div>
    <hr style='width:100%'/>
    <div class='btn btn-primary btn-wide ng-binding' style='width:100%' data-target='#bookmark' data-toggle='modal'
         ng-click='openAddBookMarkModal({{translation.chapter}},{{translation.verse}},{{verse.id}})'>Burada Kaldım
    </div>
    <hr style='width:100%'/>
    <div style='width:100%'> Ayeti Paylaş</div>
</div>