body {
    font-size: 17px;
}

ion-content {
    text-align: justify;
}

.selectable {
    -webkit-user-select: auto;
}

.translation {

}

.translations .item {
    font-size: 14px !important;
    padding: 5px;
}

.modal-fullscreen {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.tag_colour {
    float: left;
    width: 40px;
    height: 20px;

}

.tag_colour_description {
    float: left;
    padding-left: 5px;
}

.label {
    border-radius: 0.25em;
    color: #fff;
    display: inline;
    font-size: 76%;
    font-weight: normal;
    line-height: 1;
    padding: 0.25em 0.6em 0.29em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    margin-right: 2px;
}

.label-info {
    background-color: #3498db;
    color: #fff;
}

.label-dipnot {
    background-color: #757575;
    color: #fff;
}

body .overflow-scroll {
    overflow: auto;
    overflow-x: hidden;
}

.activeTag {
    background-color: #ffc900;
    font-size: 90%;
}

blockquote{
    margin:0;
}

.flexbox-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;

    justify-content: space-between;
}