<div class="modal modal-fullscreen">
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced" align-title="center">
        <ion-nav-title>Kişi Ekle</ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left ion-arrow-left-b" ng-click="closeModal('addUserToAllInferencesSearch')"
                    style="float: left">
                Vazgeç
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <button class="button button-icon icon-left ion-arrow-left-b" ng-click="closeModal('addUserToAllInferencesSearch')"
            style="float: left" type="button"></button>
    <ion-content overflow-scroll="true" ng-controller="friendSearchController">
        <br /><br />
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input id="mobil_peoples" ng-model="peoplesearch" type="search" placeholder="Kişi Arama"
                       ng-change="peoplelist(peoplesearch)" />
            </label>
            <button ng-click="clearfriendsearch()" class="button button-clear">X</button>
        </div>
        <div class="list">
            <a ng-repeat="item in friendSearchResult" class="item item-avatar" ng-click="addUserToAllInferencesSearch($index); closeModal('addUserToAllInferencesSearch'); ">
                <img src="{{item.photo}}">{{item.name}}
            </a>
        </div>
    </ion-content>
</div>