<div class="modal modal-fullscreen" ng-controller="VerseListController">
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-arrow-left-b" ng-click="closeModal('verselist_selection')" translate>Geri</button>
        </ion-nav-buttons>
        <ion-nav-title>{{'Listeye Ekle' | translate}}</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-checkmark" ng-click="addVerseToVerseLists(localVerseListSelection)" translate>Tamam</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="true" delegate-handle="content"  class="scroll_content" style="margin-top:30px;">
        <div style="margin-top:50px;"></div>
        <div align="left">
            <label style="font-size:15px; margin: 10px;text-align: left;display: block;" translate="ADD_VERSE_LIST" translate-value-versesInfo="versesInfo"><b>{{versesInfo}}</b> ayetini eklemek istediğiniz listeleri seçiniz.</label>
            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input ng-model="newVerseList.name" type="search" placeholder="{{'Ara / Yeni Liste' | translate}}"
                           ng-change="filterVerseLists(newVerseList.name);"/>
                </label>
                <button ng-click="addVerseList(newVerseList.name)" class="button ion-plus"></button>
            </div>
            <div class="list">
                <a class="item item-icon-right" ng-repeat="verselist in filteredVerselists" ng-click="filterVerseListsToggleSelection(verselist.id)">
                    {{verselist.name}}
                    <i class="icon item-note ion-checkmark" ng-show="localVerseListSelection.indexOf(verselist.id) > -1"></i>
                </a>
            </div>
        </div>
    </ion-content>
</div>