<div class="modal modal-fullscreen">
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced" align-title="center">
        <ion-nav-title>{{'Kişi Ekle' | translate}}</ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left ion-arrow-left-b" ng-click="closeModal('addUserToAllAnnotationsSearch')"
                    style="float: left"> {{'Vazgeç' | translate}}
            </button>

        </ion-nav-buttons>

    </ion-nav-bar>
    <button class="button button-icon icon-left ion-arrow-left-b" ng-click="closeModal('addUserToAllAnnotationsSearch')"
            style="float: left" type="button">
    </button>
    <ion-content overflow-scroll="true" ng-controller="friendSearchController">
        <br/><br/>

        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input id="add_view_user_toAllAnnotationsSearch_people" ng-model="peoplesearch" type="search" placeholder="{{'Kişi Arama' | translate}}"
                       ng-change="peoplelist(peoplesearch)"/>
            </label>
            <button ng-click="clearfriendsearch()" class="button button-clear">X</button>
        </div>


        <div class="list" >
            <a  ng-repeat="item in friendSearchResult" class="item item-avatar"  ng-click="addUserToAllAnnotationsSearch($index); closeModal('addUserToAllAnnotationsSearch'); ">
                <img src="{{item.photo}}">{{item.name}}</a>
        </div>

    </ion-content>
</div>