<div class="modal modal-fullscreen" ng-controller="mobileAddTagController">
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced" align-title="center">
        <ion-nav-title>Etiket Ekle</ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left ion-arrow-left-b" ng-click="closeModal('addtagtosearch')"
                    style="float: left"> Vazgeç
            </button>

        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-header-bar class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper search">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="addtagtosearch_input" ng-model="mobil_tagsearched " type="text" placeholder="Etiket ara / ekle" ng-change="tagsquery(mobil_tagsearched);scrollDelegateTop('addtagtosearch')"/>
        </label>
        <button ng-click="mobil_addedtags(filterTags,mobil_tagsearched); closeModal('addtagtosearch');" style="width:40px"
                class="button button-block button-positive">+
        </button>
    </ion-header-bar>
    <button class="button button-icon icon-left ion-arrow-left-b" ng-click="closeModal('addtagtosearch')"
            style="float: left" type="button">
    </button>
    <ion-content delegate-handle="addtagtosearch">
        <div style="width:100%;  border-bottom: lightgray 1px solid; height:auto; padding-left:15px; padding-bottom:10px; padding-top:10px"
             ng-click="mobil_addedtags(filterTags,item.name); closeModal('addtagtosearch');"
             ng-repeat="item in tagslist">
            {{item.name}}
        </div>
    </ion-content>
</div>