<div class="modal modal-fullscreen">
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced">
        <ion-nav-title>{{'Filtre Seçenekleri' | translate}}</ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left ion-arrow-left-b"
                    ng-click="closeModal('all_annotations_filter')"
                    style="float: left"> {{'Geri' | translate}}
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon-left ion-checkmark"
                    ng-click="search_all_annotations();closeModal('all_annotations_filter')"
                    style="float: right">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>


    <ion-content overflow-scroll="true">
        <div style="height: 70px"></div>
        <div>
            <label class="item item-input" >
                <input type="text" ng-model="allAnnotationsOpts.keyword" size="15"
                       placeholder="{{'Not içeriğinde aranacak kelime' | translate}}"/>
            </label>
        </div>
        <ion-toggle ng-model="allAnnotationsOpts.own_annotations" ng-checked="allAnnotationsOpts.own_annotations" translate>Benim notlarımı göster</ion-toggle>
        <div class="item item-divider" translate>Etiketler</div>
        <div>
            <ion-list show-delete=true>
                <ion-item ng-repeat="item in filterTags">
                    <ion-delete-button class="ion-minus-circled"
                                       ng-click="filterTags.splice($index, 1)">
                    </ion-delete-button>
                    {{item.name}}

                </ion-item>
            </ion-list>

        </div>
        <button class="button button-block button-positive" ng-click="openModal('addtagtosearch');" translate>Etiket Ekle</button>
        <div class="item item-divider" translate>Çevrelerin Notları</div>

        <div class="list">
            <ion-checkbox  ng-repeat="item in mobileAllAnnotationsSearchCircleListForSelection"
                           ng-model="mobileAllAnnotationsSearchCircleListForSelection[$index].selected"
                           ng-checked="mobileAllAnnotationsSearchCircleListForSelection[$index].selected"
                    >
                {{item.name}}
            </ion-checkbox>
        </div>
        <div class="item item-divider" translate>Kişilerin Notları</div>

        <ion-list show-delete=true>
            <ion-item ng-repeat="item in usersForSearch">
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="usersForSearch.splice($index, 1)">
                </ion-delete-button>
                {{item.name}}

            </ion-item>
        </ion-list>


        <button class="button button-block button-positive" ng-click="openModal('addUserToAllAnnotationsSearch');" translate>Kişi Ekle</button>
<!-- yazar seçimi iptal
        <ul class="list">
            <li class="item item-checkbox" ng-repeat="author in authors">
                <label class="checkbox">
                    <input
                            type="checkbox"
                            name="selectedauthors[]"
                            value="{{author.id}}"
                            ng-checked="annotationSearchAuthorSelection.indexOf(author.id) > -1"
                            ng-click="annotationSearchAuthorToggleSelection(author.id)"
                            >
                </label>
                {{author.name}}
            </li>
        </ul>

        -->
    </ion-content>
</div>