<div class="modal modal-fullscreen">
    <div class="bar bar-balanced">
        <div style="text-align: left; width:100px;">
            <button class="button button-icon icon-left ion-arrow-left-b" ng-click="closeModal('annotations_on_page')"
                    style="float: left"> Tamam
            </button>
        </div>
        <h1 class="title">Sayfadaki Notlar</h1>
    </div>
    <ion-content overflow-scroll="true">
        <div style="height:50px"></div>
        <div style="padding-bottom:10px;">
            <button class="btn btn-warning btn-xs" ng-click="searchText='';resetAnnotationFilter()"
                    ng-show='filteredAnnotations.length > 0 || searchText!=""' style="float: right; height: 30px;">
                <i class="fa fa-trash-o"></i>
                Filtreyi kaldır
            </button>
            <div style="display: block;">
                <input style="width: 150px; height: 30px;" type="text" placeholder="ara" ng-model="searchText" id="searchText">
                <select ng-model="filterOrderSelect" ng-init="filterOrderSelect='verseId'"
                        ng-change="annotationFilterOrder(filterOrderSelect)" style="height: 30px;">
                    <option value="verseId">Ayet</option>
                    <option value="-updated">Zaman</option>
                </select>
            </div>
        </div>
        <div ng-repeat="annotation in annotations | filter:annotationFilter | filter: annotationTextSearch"
             class="card"
             ng-click="scrollToElement('t_'+annotation.translationId);closeModal('annotations_on_page');">

            <!-- s_a -->
            <div class="s_a_header">
                {{annotation.verseId / 1000 | number:0}}:{{annotation.verseId % 1000}}
            </div>
            <div>
                <blockquote>{{annotation.quote}}</blockquote>
            </div>
            <div class="s_a_text">
                <span ng-bind-html="annotation.text | newLineAllowed | to_trusted"></span>
            </div>
            <div ng-repeat="annotationTag in annotation.tags" class="tag label label-info s_a_tag">
                {{annotationTag}}
            </div>
            <div class="row" style="padding:5px 15px">
                <div style="float: left">{{annotation.updated | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
                <div style="float: right">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="editAnnotation($index)"><i
                            class="fa fa-pencil-square-o"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="deleteAnnotation($index)"><i
                            class="fa fa-trash-o"></i></button>
                </div>
            </div>

        </div>
    </ion-content>
</div>