<div class="modal modal-fullscreen">
    <div class="bar bar-balanced">
        <div style="text-align: left; width:100px;">
            <button class="button button-icon icon-left ion-arrow-left-b" ng-click="closeModal('annotations_on_page_sort')"
                    style="float: left"> Geri
            </button>
        </div>
        <div style="text-align: center; width:100px;"><h1 class="title">Sıralama</h1></div>
    </div>
    <ion-content overflow-scroll="true">
        <div style="height:50px"></div>
        <ion-list>
            <ion-item ng-click="annotationFilterOrder('verseId');closeModal('annotations_on_page_sort')">
                Ayet
                <i class="radio-icon ion-checkmark" ng-if="filterOrderSelect=='verseId'"></i>
            </ion-item>
            <ion-item ng-click="annotationFilterOrder('-updated');closeModal('annotations_on_page_sort')">
                Zaman
                <i class="radio-icon ion-checkmark" ng-if="filterOrderSelect=='-updated'"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</div>