<div class="modal modal-fullscreen" >
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced">
        <ion-nav-title>Sayfadaki Notlar</ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left ion-arrow-left-b" ng-click="closeModal('annotations_on_page')"
                    style="float: left"> Tamam
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-android-more-vertical"
            ng-click="openModal('annotations_on_page_sort')"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content overflow-scroll="true">
        <div style="height:65px"></div>
        <div style="padding-bottom:10px;" >
            <button data-tap-disabled="true" class="button button-energized button-medium" ng-click="searchText='';resetAnnotationFilter()"
                    ng-show='filterSingleAnnotation || searchText!=""' style="float: right; line-height:41px; min-height:41px;">
                <i class="fa fa-trash-o"></i>
                Filtreyi kaldır
            </button>
            <div style="display: block; ">
                <label class="item item-input" style="margin:10px;">
                    <input style="width: 150px; height: 30px;" type="text" placeholder="ara" ng-model="searchText" id="searchText">
                </label>
            </div>
        </div>
        <div ng-repeat="annotation in annotations | filter:annotationFilter | filter: annotationTextSearch"
             class="card"
             ng-click="scrollToElmnt('t_'+annotation.translationId);closeModal('annotations_on_page');">

            <!-- s_a -->
            <div class="s_a_header">
                {{annotation.verseId / 1000 | number:0}}:{{annotation.verseId % 1000}}
                <div style="float:right;">
                    <a ng-href="#/profile/user/{{annotation.userId}}/" style="color: darkblue;">{{annotation.userName | limitTo: 25}}</a>
                </div>
            </div>
            <div>
                <blockquote>{{annotation.quote}}</blockquote>
            </div>
            <div class="s_a_text">
                <span ng-bind-html="annotation.text | newLineAllowed | to_trusted" class="s_a_text"></span>
            </div>
            <div ng-repeat="annotationTag in annotation.tags" class="tag label label-info s_a_tag">
                {{annotationTag}}
            </div>
            <div class="row" style="padding:5px 15px; display: block;">
                <div style="float: left">{{annotation.updated | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
                <div style="float: right">
                    <button ng-show="user.id==annotation.userId" type="button"
                            class="button button-balanced button-small"
                            ng-click="editAnnotation($index);circlesview();"><i
                            class="fa fa-pencil-square-o"></i>
                    </button>
                    <button ng-show="user.id==annotation.userId" type="button"
                            class="button button-assertive button-small" ng-click="deleteAnnotation($index)"><i
                            class="fa fa-trash-o"></i></button>
                </div>
            </div>

        </div>
    </ion-content>
</div>