<div class="modal modal-fullscreen">
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced">
        <ion-nav-title>Yazar Seçimi</ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left ion-arrow-left-b" ng-click="closeModal('authors_list')"
                    style="float: left"> Geri
            </button>

        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon-left ion-checkmark" ng-click="updateAuthors();closeModal('authors_list')"
                    style="float: left">
            </button>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content overflow-scroll="true">
        <div style="height:65px"></div>
        <ul class="list">
            <li class="item item-checkbox" ng-repeat="author in authors">
                <label class="checkbox">
                    <input
                            type="checkbox"
                            name="selectedauthors[]"
                            value="{{author.id}}"
                            ng-checked="detailedSearchAuthorSelection.indexOf(author.id) > -1"
                            ng-click="detailedSearchAuthorToggleSelection(author.id)"
                            >
                </label>
                {{author.name}}
            </li>
        </ul>
    </ion-content>
</div>