<br/>
<ion-content overflow-scroll="true">
    <br/><br/>
    <ul class="list">
        <li class="item item-checkbox" ng-repeat="author in authors">
            <label class="checkbox">
                <input
                        type="checkbox"
                        name="selectedauthors[]"
                        value="{{author.id}}"
                        ng-checked="$parent.selection.indexOf(author.id) > -1"
                        ng-click="toggleSelection(author.id)"
                        >
            </label>
            {{author.name}}
        </li>
    </ul>
</ion-content>