<div class="modal modal-fullscreen">
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left ion-ios-arrow-back"
                    ng-click="closeModal('comment_modal')"> Vazgeç
            </button>
        </ion-nav-buttons>
        <ion-nav-title> </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon-left ion-checkmark"
                    ng-if="!isForUpdate"
                    ng-click="createComment(resource, resource_type, resource_id, 'comment_area_for_mobile', parent_id, parent_index);
                    closeModal('comment_modal');">Tamam
            </button>
            <button class="button button-icon icon-left ion-checkmark"
                    ng-if="isForUpdate"
                    ng-click="updateComment(source, resource_type, resource_id, comment_id, 'comment_area_for_mobile', comment_index);
                    closeModal('comment_modal');">Tamam
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content style="padding: 10px;" id="comment_area" overflow-scroll="false">
        <div style="height: 60px"></div>
        <label class="item item-input">
            <textarea id="comment_area_for_mobile" placeholder="Yorum Yaz" style="height:100px;font-size:16px;"></textarea>
        </label>
    </ion-content>
</div>