<div class="modal modal-fullscreen" ng-controller="annotationEditorController">
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced">
        <ion-nav-title>{{'Ayet Notu' | translate}}</ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left ion-arrow-left-b" ng-click="cancelNewAnnotationCreation()"
                    style="float: left">&nbsp;{{'Vazgeç' | translate}}
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-icon icon-left ion-checkmark" ng-click="submitEditor()"
                    style="float: right">{{'Tamam' | translate}}
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content delegate-handle="editor">
        <div style="height:65px"></div>

        <strong>{{annotationModalDataVerse}}</strong>
        {{annotationModalData.quote}}


        <label class="item item-input">
            <textarea id="annotationData_text" ng-model="annotationModalData.text"
                      placeholder="{{'Yorum ekleyin' | translate}}" style="height:80px; font-size:16px;" ></textarea>
        </label>

        <div class="item item-divider" translate>Etiketler</div>

        <ion-list show-delete=true>
            <ion-item ng-repeat="item in annotationModalDataTagsInput">
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="annotationModalDataTagsInput.splice($index, 1)">
                </ion-delete-button>
                {{item.name}}

            </ion-item>
        </ion-list>


        <button class="button button-block button-positive" ng-click="openModal('tagsearch');" translate>Etiket Ekle</button>

        <br/>

        <div class="item item-divider" translate>Kategori</div>
        <ion-radio ng-value="'yellow'" ng-model="annotationModalData.colour" >
            <div class="tag_colour a_hl_yellow"></div>{{'Açıklama, hatırlatıcı' | translate}}
        </ion-radio>
        <ion-radio  ng-value="'red'" ng-model="annotationModalData.colour" >
            <div class="tag_colour a_hl_red"></div>{{'Tam olarak anlamadım' | translate}}
        </ion-radio>
        <ion-radio ng-value="'green'" ng-model="annotationModalData.colour" >
            <div class="tag_colour a_hl_green"></div>{{'Önemli' | translate}}
        </ion-radio>
        <div class="item item-divider" translate>Paylaşılan Çevreler</div>

        <div class="list">
            <ion-checkbox  ng-repeat="item in mobileAnnotationEditorCircleListForSelection"
                           ng-model="mobileAnnotationEditorCircleListForSelection[$index].selected"
                           ng-checked="mobileAnnotationEditorCircleListForSelection[$index].selected"
                    >
                {{item.name}}
            </ion-checkbox>
        </div>

        <div class="item item-divider" translate>Paylaşılan Kişiler</div>

        <ion-list show-delete=true>
            <ion-item ng-repeat="item in ViewUsers">
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="ViewUsers.splice($index, 1)">
                </ion-delete-button>
                {{item.name}}

            </ion-item>
        </ion-list>


        <button class="button button-block button-positive" ng-click="openModal('viewusersearch');" translate>Kişi Ekle</button>
        <div style="height: 20px"></div>
    </ion-content>
</div>
