<div class="modal modal-fullscreen">
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced">
        <ion-nav-title>Kişi Ekle</ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left ion-arrow-left-b" ng-click="closeModal('friendsearch')"
                    style="float: left"> Vazgeç
            </button>

        </ion-nav-buttons>

    </ion-nav-bar>
    <button class="button button-icon icon-left ion-arrow-left-b" ng-click="closeModal('friendsearch')"
            style="float: left" type="button">
    </button>
    <ion-content overflow-scroll="true">
        <br/><br/>

        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input ng-model="peoplesearch" type="search" placeholder="Kişi Arama"
                       ng-change="peoplelist(peoplesearch)"/>
            </label>
            <button ng-click="clearfriendsearch()" class="button button-clear">X</button>
        </div>


        <div style="width:100%;  border-bottom: lightgray 1px solid; height:auto; padding-bottom:10px; padding-top:10px"
             ng-repeat="item in users">
            <table>
                <tr>
                    <td align="left" style="width:70px; padding-left:15px">
                        <img height="50" width="50" src={{item.photo}}
                             ng-click="peopleaddlist($index); closeModal('friendsearch'); ">
                    </td>
                    <td style="vertical-align:middle">
                        {{item.name}}
                    </td>
                </tr>
            </table>
        </div>

    </ion-content>
   