<div class="modal modal-fullscreen">
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced">
        <ion-nav-title>{{menuList[selectedMenu].submenu[selectedIndex].title}}</ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left ion-arrow-left-b" ng-click="closeModal()"
                    style="float: left"> Kapat
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content overflow-scroll="true">
        <div style="height:65px"></div>
        <div class="videogular-container row">
            <!--{{menuList[selectedIndex].id}}:{{menuList[selectedIndex].title}}:{{menuList[selectedIndex].src}} -->
            <div videogular vg-theme="config.theme" vg-auto-play="true" vg-plays-inline="true" class="ng-isolate-scope" vg-error="onError($event)">
                <vg-media vg-src="menuList[selectedMenu].submenu[selectedIndex].source" vg-type="video" class="ng-isolate-scope">
                </vg-media>

                <!--vg-controls>
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                    <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls-->
                <!--vg-overlay-play></vg-overlay-play-->
                <!--vg-poster vg-url='config.plugins.poster'></vg-poster-->
            </div>
        </div>
    </ion-content>

    <ion-footer-bar align-title="center" class="bar-balanced">
        <button class="footer-bar-item item-left button button-balanced" ng-click="prevTutorial()" ng-if = "selectedIndex!=0">
            <i class="fa fa-chevron-left"></i> Geri
        </button>
        <button class="footer-bar-item item-left button button-balanced" ng-click="closeModal()" ng-if = "selectedIndex==0">
            <i class="fa fa-chevron-left"></i> Kapat
        </button>

        <button class="footer-bar-item item-right button button-balanced" ng-click="nextTutorial()" ng-if = "selectedIndex!=(menuList[selectedMenu].submenu.length-1)">
            <i class="fa fa-chevron-right"></i> İleri
        </button>
        <button class="footer-bar-item item-right button button-balanced" ng-click="closeModal()" ng-if = "selectedIndex==(menuList[selectedMenu].submenu.length-1)">
            <i class="fa fa-chevron-right"></i> Kapat
        </button>
    </ion-footer-bar>
</div>