<div class="cd-panel from-left" id="cd-panel-left">
    <div class="cd-panel-container">
        <div class="cd-panel-content" style="background-color: #FCFDFD;">
            <a style="float: right" href onclick="closeLeftPanel()"><i class="fa fa-chevron-left large_icon"></i></a>

            <div style="clear: both"></div>
            <div style="height: 20px">&nbsp;</div>
            <div class="side-menu">
                <div class="side-menu-container">
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: currentPage == 'home'}">
                            <a href="#/chapter/1/author/{{author_mask}}/verse/1" class="leftMenuLink">Sureler</a>
                        </li>
                        <li ng-class="{active: currentPage == 'annotations'}">
                            <a href="#/annotations/" ng-if="user!=null">Tüm notlar</a>
                        </li>
                        <li ng-class="{active: currentPage == 'help'}">
                            <a href="#/help/" ng-if="user!=null">Yardım</a>
                        </li>
                        <li ng-if="user!=null">
                            <a href ng-click="logOut()" onclick="closeLeftPanel()">Çıkış</a>
                        </li>
                        <li ng-if="user==null">
                            <a href ng-click="login()" onclick="closeLeftPanel()">Giriş</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>