<div class="modal modal-fullscreen"  id="taggedVerseModal">
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced" align-title="center">
        <ion-nav-title>{{'Etiketli Ayetler' | translate}}</ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left ion-close-circled"
                    ng-click="closeModal('tagged_verse');"
                    style="float: right">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-header-bar class="bar bar-subheader item-input-inset">
        <div class="col-xs-12 col-sm-9" style="width: 100%;height: 100%;">
            <label class="item-input-wrapper" style="font-weight: bold; font-size: 18px">
               {{verseTagContentParams.verse_tags}}
            </label><br/>
        </div>
    </ion-header-bar>
    <ion-content delegate-handle="content">
        <div class="col-xs-12 col-sm-9" ng-click="openModal('tagged_verse_detailed_search');" id="tagged_verse_content">
            <div class="list">
                <div class="item item-divider" translate>Etiket Sahipleri</div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-9" style="width: 100%;">
                            <div class="wordwrap" style="color: #3498db;" align="left">{{taggedValues(taggedVerseCircles)}}</div>
                            <div class="wordwrap" style="color: #28a54c;" align="left">{{taggedValues(taggedVerseUsers)}}</div>
                        </div>
                        <div class="col-sm-3">
                            <button class="button button-positive" style="float: right">{{'Değiştir' | translate}}<i class="fa fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item-input item-select">
            <div class="input-label" translate>Çeviri/Yazar</div>
            <select class="verseTagContentAuthor"
                    ng-options="author.id as author.name for author in authors"
                    ng-model="verseTagContentAuthor"
                    ng-change="verseTagContentAuthorUpdate(verseTagContentAuthor)">
            </select>
        </div>
        <div>
            <div ng-repeat="verseTagContent in verseTagContents">
                <div ng-repeat="verseTagContentTranslation in verseTagContent.translations"
                     ng-if="verseTagContentTranslation.authorId==verseTagContentAuthor" style="padding-left: 3px;padding-right: 5px">
                    <a style="color: blue" ng-click='showVerseDetail(verseTagContentTranslation.verseId, taggedVerseUsers, taggedVerseCircles)'>
                        <strong >{{verseTagContentTranslation.verseId / 1000 | number:0}}:{{verseTagContentTranslation.verseId % 1000}}</strong>
                    </a>
                    <span ng-class="{translation_rtl: authorMap[verseTagContentTranslation.authorId].language=='ar'}">{{verseTagContentTranslation.content}}</span>
                </div>
            </div>
        </div>
        <div style="height:20px"></div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-stable" style="height:50px">
        <div class="button-bar">
            <button class="footer-bar-item item-right button button-positive" style="font-size: 20px; !important;" ng-click="displayAnnotationsWithTag();closeModal('tagged_verse')">
                <div style="float: left" translate>Etiketli Notlar</div>
                <div style="float: right"><i class="fa fa-chevron-right"></i></div>
            </button>
        </div>
    </ion-footer-bar>
</div>
