<ion-side-menus>
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced" align-title="center">
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                <button ng-click="goToInferenceList()" class="button button-icon icon ion-search"></button>

            </ion-nav-buttons>
            <h1 class="title"></h1>
            <ion-nav-buttons data-tap-disabled="true" side="right">
                <button data-tap-disabled="true" class="button button-icon icon ion-ios-compose-outline" ng-if="edit_user == user.id" ng-click="edit_inference()"></button>
                <button data-tap-disabled="true" class="button button-icon icon ion-ios-trash-outline" ng-if="edit_user == user.id" ng-click="deleted()"></button>
                <button class="button button-positive" ng-click="openModal('user_login')" ng-if="user==null && isConnected==true" translate>Giriş</button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="appContent"></ion-nav-view>
        <ion-nav-view id="mobile_inference_display_content" cache-view="true">
            <ion-content style="padding-top: 30px;margin-bottom: 30px;" class="padding" delegate-handle="content"  >
                <div ng-if="authorizedInferenceDisplay == 1">
                    <div style="height: 30px"></div>
                    <div>
                        <img src="{{author_info.photo}}"/><a href="" ng-click="navigateTo('/profile/user/{{author_info.id}}/')">{{author_info.name}}</a>
                    </div>
                    <div ng-if="photo != 'undefined'" align="center" style="margin: 0 auto;">
                        <img src="{{photo}}" style="max-width: 100%; max-height: 300px; " />
                        <!--onerror='this.style.display = "none"' -->
                    </div>
                    <div style="text-align: center;margin:8px 0;font-weight:600;">
                        {{title}}
                    </div>
                    <div style="padding: 10px; background-color:#fff6dc">
                        <p ng-bind-html="content"></p>
                        <div style="text-align:right;">
                            <div style="margin:8px 0;min-height: 20px;vertical-align: bottom;height: 30px;line-height: 15px;margin-right: 2px;" ng-repeat="item in tags" class="tag label label-info s_a_tag">{{item}}</div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div style="width: 100%;overflow-x: auto;overflow-y: hidden;margin-top: 10px;">
                        <div class="border-top-radius">
                            <label class="toggle toggle-balanced" ng-click="changeInlineReferenceDisplay();" style="float: left;">
                                <input type="checkbox">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>

                            <div style="padding-left: 3px; width: 50%;float: left; font-size: small; text-align: left">
                                {{'Referanslarin icerigini goster' | translate}}
                            </div>
                        </div>
                        <div data-tap-disabled="true" align="right" style="padding-right : 3px;float: right; ">
                            <a id="url" class="btn btn-primary btn-xs" ng-click="kopyala(shareUrl);callUrlCopied()" style="margin-bottom: 11px;" ng-if="!isNative"><i class="fa fa-link"></i> {{'Linki Kopyala' | translate}}</a>
                            <button data-tap-disabled="true" class="button button-balanced button-small  icon ion-android-share-alt" ng-click="shareInference()" style="font-size: medium; font-weight: bold" ng-if="isNative" translate>Paylaş</button>
                        </div>
                    </div>
                    <div class="fit-content" style="height: 35px; padding: 3px">
                        <span ng-class="{ 'voted-like': (inference_info.vote != null && inference_info.vote.content == 1), 'unvoted' : !(inference_info.vote != null && inference_info.vote.content == 1)}"
                              ng-click="doVote(inference_info,'inferences',1)">
                            <i class="fa fa-thumbs-up"></i> {{inference_info.voteRates.like}}
                        </span>
                        <span style="margin-left: 10px;margin-right: 10px;"
                              ng-class="{'voted-dislike': (inference_info.vote != null && inference_info.vote.content == 0), 'unvoted' : !(inference_info.vote != null && inference_info.vote.content == 0)}"
                              ng-click="doVote(inference_info,'inferences',0)">
                            <i class="fa fa-thumbs-down"></i> {{inference_info.voteRates.dislike}}
                        </span>
                        <span ng-click="showVoteResults(inference_info, 'inferences')">
                            <i class="fa fa-pie-chart"></i> {{inference_info.voteRates.dislike + inference_info.voteRates.like}} {{'Oy' | translate}}
                        </span>
                        <span style="margin-right: 10px;" ng-click="displayCommentModal(null, null)"
                              class="make_comment">
                            <span style="color: #00f;margin-right: 10px;" translate>Yorum Yaz</span>
                        </span>
                    </div>
                    <div class="list" ng-if="referenced.verses.length!=0">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                {{'Çeviri/Yazar' | translate}}
                            </div>
                            <select name="singleSelect"
                                    ng-options="author.id as author.name for author in authors"
                                    ng-model="referenced.selectedAuthor"
                                    ng-change="updateReferencedTranslations()">
                            </select>
                        </label>
                    </div>
                    <div ng-repeat="verseId in referenced.verseIds" align="left" >
                        <b>
                            <a href='' style="text-decoration: none !important;" ng-click="showVerseDetail(verseId, usersForSearch, circlesForSearch)">{{getChapterVerseNotation(verseId)}}</a>
                        </b>
                        {{referenced.verses[verseId].translation}}
                        <br>
                        <div style="" align="right">
                            <button ng-repeat="tag in referenced.verses[verseId].tags"
                                    style="border: 0;"
                                    ng-click="goToVerseTag(referenced.selectedAuthor, verseId, tag, usersForSearch, circlesForSearch)"
                                    class="tag label label-info s_a_tag">{{tag}}</button>
                        </div>
                    </div>
                    <h5 align="left" style="width: 100%;margin-left:20px;" ng-if="inference_info.comments.length>0" translate>Yorumlar</h5>
                    <hr width="100%" ng-if="inference_info.comments.length>0"/>
                    <div ng-repeat="comment in inference_info.comments"
                         ng-init="outerIndex=$index"
                         style="width: 100%;border-radius: 15px;padding-top: 10px !important;background-color: #f5f5f5;" align="left" class="list well">
                        <div class="row">
                            <div style="width: 20%;margin-right: 4px;">
                                <a href="" ng-click="navigateTo('/profile/user/{{comment.owner.user_id}}/')" style="text-decoration: blink;width: 100%">
                                    <img style="width: 60px; height: 60px;border-radius: 50%;" ng-src="{{comment.owner.photo}}"><br/>
                                </a>
                                <span ng-bind-html="comment.comment.created | time_in_string | to_trusted" style="margin-left: 3px;margin-right: 3px;color: black"></span>
                            </div>
                            <span ng-click="openFooterMenu(inference_info.comments, comment.comment, outerIndex)"
                                style="width: 80%;">
                                <a href="" ng-click="navigateTo('/profile/user/{{comment.owner.user_id}}/')">
                                    {{comment.owner.name}}
                                </a>
                                <span style="text-align: left" ng-bind-html="comment.comment.content | display_comment | to_trusted"></span>
                            </span>
                        </div>
                        <div class="row fit-content">
                            <span ng-class="{ 'voted-like': (comment.vote != null && comment.vote.content == 1), 'unvoted' : !(comment.vote != null && comment.vote.content == 1)}"
                                  ng-click="doVoteForComment(comment, comment.comment.inferenceId, 'inferences',1)">
                                <i class="fa fa-thumbs-up"></i> {{comment.voteRates.like}}
                            </span>
                            <span ng-class="{'voted-dislike': (comment.vote != null && comment.vote.content == 0), 'unvoted' : !(comment.vote != null && comment.vote.content == 0)}"
                                  style="margin-left: 3px;margin-right: 3px;"
                                  ng-click="doVoteForComment(comment, comment.comment.inferenceId, 'inferences',0)">
                                <i class="fa fa-thumbs-down"></i> {{comment.voteRates.dislike}}
                            </span>
                            <span class="make_comment" ng-class="{'disabled' : (comment.voteRates.dislike + comment.voteRates.like) == 0}"
                                  style="margin-left: 3px;margin-right: 3px;"
                                  ng-click="showVoteResults(comment, 'inferences', true, comment.comment.inferenceId)">
                                <i class="fa fa-pie-chart"></i> {{(comment.voteRates.dislike + comment.voteRates.like)}} {{'Oy' | translate}}
                            </span>
                            <span class="make_comment"
                                  ng-click="displayCommentModal(comment.comment.id, outerIndex)">
                                <a style="color: #00f;" translate>Yanıtla</a>
                            </span>
                            <span ng-if="comment.comment.childs.length > 2 && !comment.showChilds"
                                  style="margin-left: 3px;margin-right: 3px;"
                                  ng-click="comment.showChilds=true">
                                <i class="fa fa-mail-forward"></i> <span style="color: #00f;">{{comment.comment.childs.length}} {{'Yanıt' | translate}}</span>
                            </span>
                        </div>
                        <hr width="100%"/>
                        <div ng-repeat="child_comment in comment.comment.childs"
                             style="width: 100%;border-radius: 15px;padding-top: 10px !important;margin-top: 10px;"
                             ng-init="innerIndex=$index"
                             align="left" class="row" ng-if="comment.showChilds" ng-click="showActionSheetForComment()">
                            <div style="width: 20%;margin-right: 4px">
                                <a href="" ng-click="navigateTo('/profile/user/{{child_comment.owner.user_id}}/')" style="width: 100%">
                                    <img style="float:right; width: 30px; height: 30px;border-radius: 50%; " ng-src="{{child_comment.owner.photo}}"><br/>
                                </a>
                                <span  style="width: 150px;text-align: right;float: right;font-size: 13px;" ng-bind-html="child_comment.comment.created | time_in_string | to_trusted"></span>
                            </div>
                            <div style="width: 80%;">
                                <span ng-click="openFooterMenu(comment.comment.childs, child_comment.comment, innerIndex)">
                                    <a href="" ng-click="navigateTo('/profile/user/{{child_comment.owner.user_id}}/')">
                                        {{child_comment.owner.name}}
                                    </a>
                                    <span ng-bind-html="child_comment.comment.content | display_comment | to_trusted"></span>
                                </span>
                                <div id="footer_area_child" class="row" style="margin-top: 15px;">
                                    <div class="fit-content" style="width: 100%">
                                        <span ng-class="{ 'voted-like': (child_comment.vote != null && child_comment.vote.content == 1), 'unvoted' : !(child_comment.vote != null && child_comment.vote.content == 1)}"
                                              ng-click="doVoteForComment(child_comment, child_comment.comment.inferenceId, 'inferences',1)">
                                            <i class="fa fa-thumbs-up"></i> {{child_comment.voteRates.like}}
                                        </span>
                                        <span ng-class="{'voted-dislike': (child_comment.vote != null && child_comment.vote.content == 0), 'unvoted' : !(child_comment.vote != null && child_comment.vote.content == 0)}"
                                              ng-click="doVoteForComment(child_comment, child_comment.comment.inferenceId, 'inferences',0)">
                                            <i class="fa fa-thumbs-down"></i> {{child_comment.voteRates.dislike}}
                                        </span>
                                        <span class="make_comment" ng-class="{'disabled' : (child_comment.voteRates.dislike + child_comment.voteRates.like) == 0}"
                                              ng-click="showVoteResults(child_comment, 'inferences', true, child_comment.comment.inferenceId)">
                                            <i class="fa fa-pie-chart"></i> {{child_comment.voteRates.dislike + child_comment.voteRates.like}} {{'Oy' | translate}}
                                        </span>
                                        <span class="make_comment"
                                              ng-click="displayCommentModal(comment.comment.id, outerIndex)">
                                            <a style="color: blue;" translate>Yanıtla</a>
                                        </span>
                                    </div>
                                </div>
                                <hr width="100%"/>
                            </div>
                        </div>
                    </div>
                    <!-- new or update comment area-->
                    <div style="width: 100%;background-color:#f4eeed; padding-top: 10px !important;" ng-if="user!=null">
                        <div class="row">
                            <a href="" ng-click="navigateTo('/profile/user/{{user.id}}/')">
                                <img style="max-width: 60px; max-height: 60px;border-radius: 50%;" ng-src="{{user.photo}}"><br/>
                            </a>
                            <textarea readonly ng-click="displayCommentModal(null, null)"
                                      style="margin-left:10px;width: 100%;height: 51px;border-radius: 2px;
                                            background-color: white;border: 1px black solid;"
                                      placeholder="{{'Yorum Yaz' | translate}}"></textarea>
                        </div>
                    </div>
                </div>
                <div ng-if="authorizedInferenceDisplay == 2">
                    <strong translate>Bu çıkarımı görüntüleme yetkisine sahip değilsiniz! <br> Henüz giriş yapmadınız ya da not sizinle paylaşılmadı</strong>
                </div>
            </ion-content>
        </ion-nav-view>
    </ion-side-menu-content>
    <div ng-include="'components/navigation/left_menu.html'"></div>
</ion-side-menus>