<body>
<div class="container">
    <div ng-include="'app/components/partials/off_canvas_menu.html'"></div>
    <div ng-include="'app/components/profile/circle_navigation.html'"></div>
    <div class="nav-bottom"></div>

    <div class="row" style="margin-top: 10px;">
        <div infinite-scroll='loadMoreCirclesFeeds()' infinite-scroll-disabled='isLoading' infinite-scroll-immediate-check="false">
            <div ng-repeat="feed in feeds">
                <div class="col-xs-2">
                    <div class="well col" style="text-align: center;padding-top: 11px !important;padding: 0px;margin-bottom: 0px;">
                        <a  href="" ng-click="navigateTo('/profile/user/{{feed.owner_id}}/')"><img style="max-width: 120px; max-height: 90px;border-radius: 50%;" ng-if="feed.owner_photo != 'undefinedp'" ng-src="{{feed.owner_photo}}"><br/></a>
                        <a ng-href="#/profile/user/{{feed.owner_id}}/"><div>{{feed.owner_name | limitTo: 25}}</div></a>
                    </div>
                </div>
                <div class="col-xs-10">
                    <div ng-if="feed.study_type == 'annotation'" class="well" style="padding-top: 10px !important;padding-bottom: 10px !important;">
                        <div class="s_a_header">
                            <a href='' ng-click="openVerseDetail(feed.anno_verse_id, feed.owner_id, feed.owner_name)" data-target='#detailedVerseModal' data-dismiss='modal' data-toggle='modal'>{{feed.anno_verse_id / 1000 | number:0}}:{{feed.anno_verse_id % 1000}}</a> ({{authorMap[feed.anno_author_id].name}})
                        </div>
                        <div class="small_space">&nbsp;</div>
                        <div>
                            <blockquote
                                    ng-bind-html="feed.translation_content | mark_verse_annotation:feed:1 | newLineAllowed | to_trusted"></blockquote>
                        </div>
                        <div class="small_space">&nbsp;</div>
                        <div class="s_a_text">
                            <span ng-bind-html="feed.content | newLineAllowed | to_trusted"></span>
                        </div>
                        <div class="small_space">&nbsp;</div>
                        <button ng-repeat="annotationTag in feed.tags" class="btn btn-xs btn-info verse_tag"
                                ng-click="goToVerseTag(feed.anno_author_id, feed.anno_verse_id, annotationTag, [], [])"
                                data-target='#taggedVerseModal' data-dismiss='modal' data-toggle='modal'>
                            {{annotationTag}}
                        </button>
                        <div class="small_space">&nbsp;</div>
                        <div class="row" style="padding:0 15px">
                            <div style="float: left"><span ng-bind-html="feed.updated | time_in_string | to_trusted"></span></div>
                            <div style="float: right">
                                <span ng-click="addToStorageForFocus2Comment();navigateTo('/annotation/display/{{feed.id}}/')" style="margin-right: 10px;" class="make_comment">
                                    <span style="color: #00f;margin-right: 10px;">Yorum Yaz</span><i class="fa fa-comment"></i> {{feed.commentCount}}
                                </span>
                                <span ng-class="{ 'voted-like': (feed.vote != null && feed.vote.content == 1), 'unvoted' : !(feed.vote != null && feed.vote.content == 1)}"
                                      ng-click="doVoteInProfile(feed,1)">
                                    <i class="fa fa-thumbs-up"></i> {{feed.voteRates.like}}
                                </span>
                                <span ng-class="{'voted-dislike': (feed.vote != null && feed.vote.content == 0), 'unvoted' : !(feed.vote != null && feed.vote.content == 0)}"
                                      ng-click="doVoteInProfile(feed,0)">
                                    <i class="fa fa-thumbs-down"></i> {{feed.voteRates.dislike}}
                                </span>
                                <button type="button" class="btn btn-primary btn-xs"
                                        ng-disabled="(feed.voteRates.dislike + feed.voteRates.like) == 0"
                                        ng-click="showVoteResults(feed, 'annotations')">
                                    Değerlendirenler
                                </button>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="showEditor(feed)"
                                        ng-if="feed.owner_id==user.id"><i
                                        class="fa fa-pencil-square-o "></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="deleteAnnotation(feed)"
                                        ng-if="feed.owner_id==user.id"><i
                                        class="fa fa-trash-o"></i></button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="feed.study_type == 'inference'" class="well" style="padding-top: 10px !important;padding-bottom: 10px !important;">
                        <div class="small_space">&nbsp;</div>
                        <div class="row">
                            <div class="col-sm-2" style="width:200px; height:150px">
                                <a href="#/inference/display/{{feed.id}}/">
                                    <img image-check onerror='this.style.display = "none"' style="max-width: 200px; max-height: 150px" ng-if="feed.inf_image != 'undefinedp' || feed.inf_image != 'undefined'" ng-src="{{feed.inf_image}}">
                                </a>
                            </div>
                            <div class="col-sm-9">
                                <div style="text-align: center;" ><a href="#/inference/display/{{feed.id}}/"><h4 style="margin-top:0;">
                                    {{feed.inf_title}}</h4>
                                </a></div>
                                <div style="padding-left:10px;">
                                    <span ng-bind-html="feed.brief | to_trusted"></span>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                        <div class="has-footer small_space">&nbsp;</div>
                        <div ng-repeat="inferenceTag in feed.tags" class="tag label label-info s_a_tag">
                            {{inferenceTag}}
                        </div>
                        <div class="small_space">&nbsp;</div>
                        <div class="row" style="padding:0 15px">
                            <div style="float: left"><span ng-bind-html="feed.updated | time_in_string | to_trusted"></span></div>
                            <div style="float: right">
                                <span ng-click="addToStorageForFocus2Comment();navigateTo('/inference/display/{{feed.id}}/')" style="margin-right: 10px;" class="make_comment">
                                    <span style="color: #00f;margin-right: 10px;">Yorum Yaz</span><i class="fa fa-comment"></i> {{feed.commentCount}}
                                </span>
                                <span ng-class="{ 'voted-like': (feed.vote != null && feed.vote.content == 1), 'unvoted' : !(feed.vote != null && feed.vote.content == 1)}"
                                      ng-click="doVoteInProfile(feed,1)">
                                    <i class="fa fa-thumbs-up"></i> {{feed.voteRates.like}}
                                </span>
                                <span ng-class="{'voted-dislike': (feed.vote != null && feed.vote.content == 0), 'unvoted' : !(feed.vote != null && feed.vote.content == 0)}"
                                      ng-click="doVoteInProfile(feed,0)">
                                    <i class="fa fa-thumbs-down"></i> {{feed.voteRates.dislike}}
                                </span>
                                <button type="button" class="btn btn-primary btn-xs"
                                        ng-disabled="(feed.voteRates.dislike + feed.voteRates.like) == 0"
                                        ng-click="showVoteResults(feed, 'inferences')">
                                    Değerlendirenler
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="hasMoreData" ng-show='isLoading' style="text-align: center"><img src="assets/img/loading.gif" width="20" height="20"></div>
            <div style="clear: both"></div>
        </div>
    </div>
    <!-- /row-->
</div>
<!-- /container-->
</body>