<body>
<div class="container">
    <div ng-include="'app/components/partials/off_canvas_menu.html'"></div>
    <div ng-include="'app/components/profile/friend_navigation.html'"></div>
    <div class="nav-bottom"></div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-3 well" style="text-align: center" ng-show="profiledUser != null">
            <div style="visibility: hidden;height: 10px;"></div>
            <div style="visibility: hidden;height: 10px;"></div>
            <div>
                <img style="max-width: 160px; max-height: 120px;" ng-src="http://graph.facebook.com/{{profiledUser.fbId}}/picture?type=large"><br/>
                <div><b>{{profiledUser.username}}</b></div>
            </div>
            <div style="visibility: hidden;height: 10px;"></div>
            <div ng-show="profiledUser.id != user.id">
                <div><a href="http://www.facebook.com/{{profiledUser.fbId}}" target="_blank"><img src="assets/img/fb.png" width="40" height="40"/></a></div>
                <div><a href="http://www.facebook.com/{{profiledUser.fbId}}" target="_blank">Facebook Profilini Gör</a></div>
            </div>
            <div style="visibility: hidden;height: 10px;"></div>
            <div ng-show="profiledUser.id != user.id" ng-click="showCircleSelectionModal()">
                <a class="btn btn-primary">Çevreme Ekle</a>
            </div>
            <div style="visibility: hidden;height: 10px;"></div>
            <div style="visibility: hidden;height: 10px;"></div>
            <div style="text-align: left">
                <div>Üyelik : {{profiledUser.created | date: 'dd/MM/yyyy'}}</div>
                <div>Toplam Ayet Notu : {{profiledUser.annotation_count}}</div>
                <div>Toplam Çıkarım Notu : {{profiledUser.inference_count}}</div>
                <div>Çevresindeki Kişi Sayısı : {{profiledUser.circle_friend_count}}</div>
                <div>Takipçi Sayısı : {{profiledUser.follower_count}}</div>
            </div>
        </div>
        <div class="col-xs-9">
            <div infinite-scroll='loadMoreFriendsFeeds()' infinite-scroll-disabled='isLoading' infinite-scroll-immediate-check="false">
                <div ng-repeat="feed in feeds">
                    <div ng-if="feed.study_type == 'annotation'" class="well" style="padding-top: 10px !important;padding-bottom: 10px !important;">
                        <div class="s_a_header">
                            <a href='' ng-click="openVerseDetail(feed.anno_verse_id, profiledUser.id, profiledUser.username)" data-target='#detailedVerseModal' data-dismiss='modal' data-toggle='modal'>{{feed.anno_verse_id / 1000 | number:0}}:{{feed.anno_verse_id % 1000}}</a>
                        </div> <span style="font-size: small">({{authorMap[feed.anno_author_id].name}})</span>
                        <div class="small_space">&nbsp;</div>
                        <div>
                            <blockquote
                                    ng-bind-html="feed.translation_content | mark_verse_annotation:feed:1 | newLineAllowed | to_trusted"></blockquote>
                        </div>
                        <div class="small_space">&nbsp;</div>
                        <div class="s_a_text">
                            <span ng-bind-html="feed.content | newLineAllowed | to_trusted"></span>
                        </div>
                        <div class="small_space">&nbsp;</div>
                        <button ng-repeat="annotationTag in feed.tags" class="btn btn-xs btn-info verse_tag"
                                ng-click="goToVerseTag(feed.anno_author_id, feed.anno_verse_id, annotationTag, [], [])"
                                data-target='#taggedVerseModal' data-dismiss='modal' data-toggle='modal'>
                            {{annotationTag}}
                        </button>
                        <div class="small_space">&nbsp;</div>
                        <div class="row" style="padding:0 15px">
                            <div style="float: left"><span ng-bind-html="feed.updated | time_in_string | to_trusted"></span></div>
                            <div style="float: right">
                                <span ng-click="addToStorageForFocus2Comment();navigateTo('/annotation/display/{{feed.id}}/')" style="margin-right: 10px;" class="make_comment">
                                    <span style="color: #00f;margin-right: 10px;">Yorum Yaz</span><i class="fa fa-comment"></i> {{feed.commentCount}}
                                </span>
                                <span ng-class="{ 'voted-like': (feed.vote != null && feed.vote.content == 1), 'unvoted' : !(feed.vote != null && feed.vote.content == 1)}"
                                      ng-click="doVoteInProfile(feed,1)">
                                    <i class="fa fa-thumbs-up"></i> {{feed.voteRates.like}}
                                </span>
                                <span ng-class="{'voted-dislike': (feed.vote != null && feed.vote.content == 0), 'unvoted' : !(feed.vote != null && feed.vote.content == 0)}"
                                      ng-click="doVoteInProfile(feed,0)">
                                    <i class="fa fa-thumbs-down"></i> {{feed.voteRates.dislike}}
                                </span>
                                <button type="button" class="btn btn-primary btn-xs"
                                        ng-disabled="(feed.voteRates.dislike + feed.voteRates.like) == 0"
                                        ng-click="showVoteResults(feed, 'annotations')">
                                    Değerlendirenler
                                </button>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="showEditor(feed)"
                                        ng-if="feed.owner_id==user.id"><i
                                        class="fa fa-pencil-square-o "></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="deleteAnnotation(feed)"
                                        ng-if="feed.owner_id==user.id"><i
                                        class="fa fa-trash-o"></i></button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="feed.study_type == 'inference'" class="well" style="padding-top: 10px !important;padding-bottom: 10px !important;">
                        <div class="small_space">&nbsp;</div>
                        <div class="row">
                            <div class="col-sm-2" style="width:200px; height:150px">
                                <a href="#/inference/display/{{feed.id}}/">
                                    <img image-check onerror='this.style.display = "none"' style="max-width: 200px; max-height: 150px" ng-if="feed.inf_image != 'undefinedp'"  ng-src="{{feed.inf_image}}">
                                </a>
                            </div>
                            <div class="col-sm-9">
                                <div style="text-align: center;" ><a href="#/inference/display/{{feed.id}}/"><h4 style="margin-top:0;">
                                    {{feed.inf_title}}</h4>
                                </a></div>
                                <div style="padding-left:10px;">
                                    <span ng-bind-html="feed.brief | to_trusted"></span>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                        <div class="has-footer small_space">&nbsp;</div>
                        <div ng-repeat="inferenceTag in feed.tags" class="tag label label-info s_a_tag">
                            {{inferenceTag}}
                        </div>
                        <div class="small_space">&nbsp;</div>
                        <div class="row" style="padding:0 15px">
                            <div style="float: left"><span ng-bind-html="feed.updated | time_in_string | to_trusted"></span></div>
                            <div style="float: right">
                                <span ng-click="addToStorageForFocus2Comment();navigateTo('/inference/display/{{feed.id}}/')" style="margin-right: 10px;" class="make_comment">
                                    <span style="color: #00f;margin-right: 10px;">Yorum Yaz</span><i class="fa fa-comment"></i> {{feed.commentCount}}
                                </span>
                                <span ng-class="{ 'voted-like': (feed.vote != null && feed.vote.content == 1), 'unvoted' : !(feed.vote != null && feed.vote.content == 1)}"
                                      ng-click="doVoteInProfile(feed,1)">
                                    <i class="fa fa-thumbs-up"></i> {{feed.voteRates.like}}
                                </span>
                                <span ng-class="{'voted-dislike': (feed.vote != null && feed.vote.content == 0), 'unvoted' : !(feed.vote != null && feed.vote.content == 0)}"
                                      ng-click="doVoteInProfile(feed,0)">
                                    <i class="fa fa-thumbs-down"></i> {{feed.voteRates.dislike}}
                                </span>
                                <button type="button" class="btn btn-primary btn-xs"
                                        ng-disabled="(feed.voteRates.dislike + feed.voteRates.like) == 0"
                                        ng-click="showVoteResults(feed, 'inferences')">
                                    Değerlendirenler
                                </button>
                            </div>
                        </div>
                    </div>
                    <div style='clear: both;'></div>
                </div>
                <div ng-if="hasMoreData" ng-show='isLoading' style="text-align: center"><img src="assets/img/loading.gif" width="20" height="20"></div>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
    <!-- /row-->
</div>
<div align="center">
    <digercevremodal title="Çevreye Seçiniz" visible="select_circle">
        <div align="left">
            <select ng-model="circleSelection"
                    ng-options="circle.id as circle.name for circle in cevreadlar"
                    class="form-control">
                <option style="display:none" value="">Çevre Seçiniz</option>
            </select>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-primary btn-wide" data-dismiss="modal">Vazgeç</a>
            <a class="btn btn-primary btn-wide" ng-click="add_to_circle(circleSelection)" data-dismiss="modal">Çevreye Ekle</a>
        </div>
    </digercevremodal>
</div>
<!-- /container-->
</body>