<body>


<div class="container">
    <!--

            <pre>isReady: <span id="is_ready" ng-bind="facebookIsReady"></span></pre>
            <pre>status: <span id="login_status" ng-bind="loginStatus"></span></pre>
            <pre>token: <span id="tokenFb" ng-bind="tokenFb"></span></pre>
            <pre>access token: <span id="accessToken" ng-bind="access_token"></span></pre>
            <pre>validation_response: <span id="api_first_name" ng-bind="validation_response | json"></span></pre>


        <pre>allAnnotations: <span id="allAnnotatio" ng-bind="annotations | json"></span></pre>
        -->
    <div ng-include="'app/components/partials/navigation.html'"></div>


    <div>
        <div ng-repeat="annotation in annotations" class="box">
            <div class="s_a_header">
                {{annotation.verseId / 1000 | number:0}}:{{annotation.verseId % 1000}}
            </div>
            <div>
                {{annotation.quote}}
            </div>
            <div class="well s_a_text">
                <span ng-bind-html="annotation.text | newLineAllowed | to_trusted"></span>
            </div>
            <div ng-repeat="annotationTag in annotation.tags" class="tag label label-info s_a_tag">
                {{annotationTag}}
            </div>
            <div class="row" style="padding:0 15px">
                <div style="float: left">{{annotation.updated | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
                <div style="float: right">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="showEditor(annotation)"><i
                            class="fa fa-pencil-square-o"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="deleteAnnotation2(annotation)"><i
                            class="fa fa-trash-o"></i></button>
                </div>
            </div>

        </div>

    </div>
    <div style="text-align: center; padding-top:10px;" ng-if="allAnnotationsOpts.hasMore==true">
        <button ng-click="get_all_annotations()" class="btn btn-info btn-hg">Daha fazla</button>
    </div>

    <div ng-include="'app/components/partials/authors_modal.html'"></div>
    <div ng-include="'app/components/partials/editor_modal.html'"></div>


    <div class="modal" id="annotationsFilterModal">
        <div class="modal-dialog fixed-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" style="float:right;"><i
                            class="fa fa-close"></i></button>
                    <h4 class="modal-title">Filtre seçenekleri</h4>
                </div>

                <div class="modal-body">

                    <div>
                        <input type="text" ng-model="allAnnotationsSearchInput" size="12" class="form-control"
                               placeholder="Aranacak kelime"/>
                        <!-- ng-enter="search_all_annotations()" -->
                    </div>

                    <div>
                        <tags-input ng-model="theTags" display-property="name" replace-spaces-with-dashes=false
                                    min-length="2">
                            <auto-complete source="loadTags($query)" min-length="2"></auto-complete>
                        </tags-input>
                    </div>

                    <div>
                        <tags-input ng-model="theTags" display-property="name" replace-spaces-with-dashes=false
                                    min-length="2" placeholder="Bir kişi ekleyin">
                            <auto-complete source="loadTags($query)" min-length="2"></auto-complete>
                        </tags-input>
                    </div>


                    <div>
                        <ul class="selectable_list">
                            <li ng-repeat="author in authors"
                                ng-click="annotationSearchAuthorToggleSelection(author.id)"
                                ng-class="{ 'selected_list_item': annotationSearchAuthorSelection.indexOf(author.id) > -1}">
                                {{author.name}}
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-primary btn-wide" data-dismiss="modal"
                       ng-click="search_all_annotations()">Tamam</a>
                </div>
            </div>
        </div>
    </div>


</body>