<body>
<div class="container">
    <div ng-include="'app/components/lists/verse_lists_navigation.html'"></div>
    <div ng-include="'app/components/partials/off_canvas_menu.html'"></div>
    <div ng-include="'app/components/partials/detailed_word.html'"></div>
    <div ng-include="'app/components/partials/detailed_verse.html'"></div>
    <div class="nav-bottom"></div>

    <div class="row" style="width: 100%;">
        <div class="col-xs-3" style="visibility: hidden">
            asdfasfd
        </div>
        <div class="col-xs-9 pull-right">
            <h3 style="text-align: center">{{'Liste' | translate}} : {{selectedVerseList.name}}</h3>
            <select ng-model="verseListAuthor"
                    ng-options="author.id as author.name for author in authors"
                    ng-change="verseListsAuthorChanged(verseListAuthor)"
                    class="form-control">
                <option style="display:none" value="" translate>Yazar Seçiniz</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-3">
            <table>
                <tr ng-repeat="verselist in verselists" ng-click="verseListsToggleSelection(verselist.id)">
                    <td class="col-xs-3"><i class="fa fa-edit" ng-click="editVerseList(verselist)"></i></td>
                    <td class="col-xs-9 selectable_list"
                        ng-class="{ 'selected_list_item': localVerseListSelection.indexOf(verselist.id) > -1}"
                        ng-style="localVerseListSelection.indexOf(verselist.id) < 0 && { 'background-color' : '#f5f5f5'}"
                        style="padding-left: 20px;">
                     {{verselist.name}}</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-9" id="translations">
            <div ng-repeat="verse in verses">
                <div class="well translations col-xs-12" id="v_{{verse.id}}">
                    <div class="row">
                        <div class="col-xs-1" style="text-align: center">
                            <div class="chapter_verse_number">
                                <a href style="color: blue" ng-click='showVerseDetail(verse.verseId)' data-target='#detailedVerseModal' data-toggle='modal'>
                                    <strong>{{verse.chapter}}:{{verse.verse}}</strong>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <div ng-class="{translation_rtl: authorMap[verse.authorId].language=='ar', translation_content: authorMap[verse.authorId].language!='ar'}"><span
                                    ng-bind-html="verse.content | to_trusted"></span>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <button type="button" class="btn btn-danger btn-circle" ng-click="deleteVerseFromVerseList(selectedVerseList.id,verse.verseId)"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /row-->
</div>
<!-- /container-->

<div>
    <modal title="{{'Yeni Ayet Listesi Ekleme' | translate}}" visible="newVerseListModal">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="newVerseList.name" placeholder="{{'Ayet Listesi Tanımı' | translate}}"/>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-primary btn-wide" data-dismiss="modal" translate>İptal</a>
            <a class="btn btn-primary btn-wide" ng-click="addVerseList(newVerseList.name)" data-dismiss="modal" translate>Tamam</a>
        </div>
    </modal>
</div>

<div>
    <modal title="{{'Liste Düzenle' | translate}}" visible="editVerseListModal">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="editedVerseList.name" placeholder="{{'Ayet Listesi Tanımı' | translate}}"/>
            <a class="btn btn-danger btn-wide" ng-click="deleteVerseList(editedVerseList)" data-dismiss="modal"
               style="margin: 12px 5px;width: 51%;float: right;" translate>Listeyi Sil</a>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-primary btn-wide" data-dismiss="modal" translate>İptal</a>
            <a class="btn btn-primary btn-wide" ng-click="updateVerseList(editedVerseList)" data-dismiss="modal" translate>Tamam</a>
        </div>
    </modal>
</div>

<div>
    <modal title="{{'Toplu Ayet Ekleme' | translate}}" visible="bulkInsertVerseToVerseListFlag">
        <div class="form-group">
            <div translate="ENTER_VERSES_AS"><b>{{selectedVerseList.name}}</b> listesine eklemek istediğiniz ayetleri "34:5 23:10 19:78" şeklinde arada boşluklar olacak şekilde giriniz.</div>
            <input type="text" class="form-control" ng-model="versesForBulkInsert"/>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-primary btn-wide" data-dismiss="modal" translate>İptal</a>
            <a class="btn btn-primary btn-wide" ng-click="bulkInsertVerse(selectedVerseList,versesForBulkInsert)" data-dismiss="modal" translate>Tamam</a>
        </div>
    </modal>
</div>

<div>
    <modal title="{{'Listedeki Ayetleri Etiketleme' | translate}}" visible="bulkInsertTagToVerseListFlag">
        <div class="form-group">
            <div translate="VERSE_TAGGING"><b>{{selectedVerseList.name}}</b> listesindeki tüm ayetler aşağıda belirtiğiniz şekilde etiketlenecektir.</div>
            <div translate>Her etiketleme işlemi ayrı bir ayet notu olacağından verceğiniz tüm etiketleri bir seferde burada belirtmeniz faydalı olacaktır.</div>
            <div translate>Burada verdiğiniz etiketleri silmek için ilgili ayet notlarını silmelisiniz.</div>
            <tags-input ng-model="tagsForBulkInsert" display-property="name"
                        placeholder="{{'Etiket girin' | translate}}" replace-spaces-with-dashes="false"
                        min-length="2">
            </tags-input>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-primary btn-wide" data-dismiss="modal">İptal</a>
            <a class="btn btn-primary btn-wide" ng-click="bulkInsertTag(verses,tagsForBulkInsert)" data-dismiss="modal" translate>Tamam</a>
        </div>
    </modal>
</div>
<div>
    <modal title="{{'Toplu Ayet Eklemede Hata!' | translate}}" visible="errorBulkInsert">
        <div class="form-group">
            <p translate>Girmiş olduğunuz ayetlerin en az bir tanesinde hata olduğundan ayetler listeye eklenememiştir.</p>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-primary btn-wide" data-dismiss="modal" translate>Kapat</a>
        </div>
    </modal>
</div>
</body>