<div class="modal" id="bookmark" ng-controller="bookmarkController">
    <div class="modal-dialog fixed-dialog" style="width:770px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" style="float:right;"><i
                        class="fa fa-close"></i></button>
                <h4 class="modal-title">Burda Kaldım </h4>
            </div>

            <div class="modal-body" style=" width:100%">
            <div align="center" style="width:100%; font-weight:bold">{{bookmarkParameters.bookchaptername}} {{bookmarkParameters.verseinfo}} ({{bookmarkParameters.chapterinfo}}:{{bookmarkParameters.verseinfo}})</div>
                
                Kullanmak istediğiniz Ayracı Seçiniz.
                <br /><br />
                <div style="width:100%" align="center">
                <div style="background-color:Yellow; width:30%; height:100px; font-size:14px; font-weight:bold; vertical-align:middle; color:Black" class="btn btn-primary btn-wide" ng-click="bookmarksave('yellow',bookmarkverseid)"><div class="col-sm-1"><i class="fa fa-bookmark" style='font-size: 5.0em'></i> </div><div class="col-sm-3" style="margin-left:25px;">{{bookmarksyellowchapter}}<br />{{bookmarksyellowchapterid}}:{{bookmarksyellowverseID}}</div></div>
                <div style="background-color:Green; width:30%; height:100px; font-size:14px; font-weight:bold; vertical-align:middle; color:White" class="btn btn-primary btn-wide" ng-click="bookmarksave('green',bookmarkverseid)"><div class="col-sm-1"><i class="fa fa-bookmark" style='font-size: 5.0em'></i> </div><div class="col-sm-3" style="margin-left:25px;">{{bookmarksgreenchapter}}<br />{{bookmarksgreenchapterid}}:{{bookmarksgreenverseID}}</div></div>
                <div style="background-color:Orange; width:30%; height:100px; font-size:14px; font-weight:bold; vertical-align:middle; color:Black" class="btn btn-primary btn-wide" ng-click="bookmarksave('orange',bookmarkverseid)"><div class="col-sm-1"><i class="fa fa-bookmark" style='font-size: 5.0em'></i> </div><div class="col-sm-3" style="margin-left:25px;">{{bookmarksorangechapter}}<br />{{bookmarksorangechapterid}}:{{bookmarksorangeverseID}}</div></div>
                </div>
            </div>
        </div>
    </div>
</div>