<div class="modal fade" id="circlekisiekle">
<META http-equiv="Content-Type" content="text/html; charset=windows-1254">
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-9">
          <div class="modal-dialog"> 
            <div class="modal-content"> 
              <div class="modal-header"> 
              <table>
              <tr>
              <td>
              <a type="button" class="btn btn-primary btn-wide" data-dismiss="modal" >Vazgeç</a>
              </td>
              <td align="left" style="width:100%; padding-left:120px"><h2 class="modal-title">{{ title }}</h2> </td>
              </tr>
              </table>                     
              </div>
              <div class="modal-body" ng-transclude>
                  &nbsp;</div>
            </div>
          </div>
        </div>