<div align="center" class="modal" id="deleteAnnotationModal" ng-controller="annotationEditorController">
	<div style="width:350px;height:350px;" class="modal-dialog fixed-dialog">
		<div class="modal-content">
			<strong translate>Ayet Notu Sil</strong><br/>
			<p translate>Ayet notu silinecektir, onaylıyor musunuz?</p>

			<!-- Indicates caution should be taken with this action -->
			<button type="button" class="btn btn-default" ng-click="closeAnnotationModal()" translate>VAZGEC</button>

			<!-- Indicates a dangerous or potentially negative action -->
			<button type="button" class="btn btn-danger" ng-click="mdeleteAnnotation()" translate>TAMAM</button>
		</div>
	</div>
</div>