<div class="modal" id="wordDetailModal" ng-controller="DetailedWordCtrl">
    <div class="modal-dialog modal-xl madal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" style="float:right;"><i class="fa fa-close"></i></button>
                <h4 ng-if="selectedType =='word'" class="modal-title"> {{'Ayet' | translate}} ({{selectedWord.chapter}}: {{selectedWord.verseId-selectedWord.chapter*1000}}), <span ng-if="selectedWord.transcriptTurkish">{{selectedWord.transcriptTurkish}}</span></h4>
                <h4 ng-if="selectedType =='root'" class="modal-title" translate>Kök Ayrıntı</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div ng-if="selectedType =='word'">
                        <div ng-if="selectedWord.arabic"><span>{{ selectedWord.arabic }}</span><br></div>
                        <div ng-if="selectedWord.rootArabic"><span>{{'Kök' | translate}}: <a href ng-click="getWords('root', selectedWord)">{{selectedWord.rootArabic}}</a></span><br></div>
                        <div ng-if="selectedWord.rootTranscript"><span><a target="_blank" href="" ng-click="linkcreate(selectedWord.rootTranscript)">({{selectedWord.rootTranscript | uppercase}})</a></span><br></div>
                        <div ng-if="selectedWord.transcriptTurkish"><span>{{ selectedWord.transcriptTurkish}}</span><br></div>
                        <div ng-if="selectedLanguage == 'tr' && selectedWord.turkish"><span>{{ selectedWord.turkish | removeQuotes }}</span><br></div>
                        <div ng-if="selectedLanguage == 'en' && selectedWord.english"><span>{{ selectedWord.english | removeQuotes }}</span></div>
                    </div>
                    <div ng-if="selectedType =='root'">
                        <div ng-if="selectedWord.arabic"><span>{{ selectedWord.arabic }}</span><br></div>
                        <div ng-if="selectedWord.transcriptTurkish"><span>{{ selectedWord.rootTranscript}}</span><br></div>
                        <div ng-if="selectedWord.rootTranscript"><span><a target="_blank" href="" ng-click="linkcreate(selectedWord.rootTranscript)">{{selectedWord.rootTranscript | uppercase}} {{'Kök harflerini müfredatta ara' | translate}}</a></span><br></div>
                    </div>
                </div>
                <br>
                <span ng-if="selectedType =='root'" style="margin-left: 5%"><b translate>Kökün Kullanıldığı Ayetler</b></span>
                <select name="author-selection"
                        ng-model="currentAuthor"
                        ng-options="author.id as author.name for author in authors"
                        ng-change="changeTranslation()"
                        class="pull-right">
                    <option value="" translate>Meal Seçiniz</option>
                </select>
                <br><br>
                <div class="row">
                    <div> <!--style="max-height: calc(100vh - 420px); overflow-y: auto; border: solid 1px lightgrey" -->
                        <table class="table table-xl table-sm table-striped table-condensed">
                            <tbody>
                                <tr ng-repeat="item in wordTranslations" ng-init="parentIndex = $index">
                                    <td class="col-md-2 col-sm-3">
                                        <div class="chapter_verse_number">
                                            <a href="" style="color: blue" ng-click="showVerseDetail(item.word.verseId)" data-target="#detailedVerseModal" data-toggle="modal" data-dismiss="modal">
                                                <h6 class="ng-binding">{{item.word.chapter}}:{{item.word.verseId-item.word.chapter*1000}}</h6>
                                            </a>
                                        </div>
                                        <span ng-if="item.word.arabic"><a href ng-click="getWords('word', item.word)">{{ item.word.arabic }}</a></span>
                                        <span ng-if="item.word.arabic && item.word.transcriptTurkish">  |  </span>
                                        <br ng-if="item.word.arabic && !item.word.transcriptTurkish">
                                        <span ng-if="item.word.transcriptTurkish">{{ item.word.transcriptTurkish}}<br></span>
                                        <span ng-if="item.word.rootArabic"><a href ng-click="getWords('root', item.word)">{{ item.word.rootArabic }}</a></span>
                                        <span ng-if="item.word.rootArabic && item.word.rootTranscript">  |  </span>
                                        <br ng-if="item.word.rootArabic && !item.word.rootTranscript">
                                        <span ng-if="item.word.rootTranscript">{{ item.word.rootTranscript }}<br></span>
                                        <div ng-if="selectedLanguage == 'tr' && item.word.turkish"><span>{{ item.word.turkish | removeQuotes }}</span><br></div>
                                        <div ng-if="selectedLanguage == 'en' && item.word.english"><span>{{ item.word.english | removeQuotes }}</span></div>
                                    </td>
                                    <td class="col-md-10 col-sm-9">
                                        <div style="word-wrap: break-word; "> <!--width: 400px;  -->
                                            <span ng-repeat="wordItem in item.verseWords">
                                                <a href ng-click="showWordDetail(wordItem, parentIndex)"
                                                   ng-style="{color: getItemColor(wordItem, item.word)}"
                                                   style="font-size: 24px">{{wordItem.arabic}}</a>
                                            </span>
                                        </div>
                                        <br>
                                        <span>{{ item.verseTranslation }}</span><br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div ng-if="hasMoreData" ng-show='!isLoading' style="text-align: center">
                        <button type="button" class="btn btn-primary" aria-hidden="true" ng-click="loadMoreWordTranslations()" translate>Daha Fazla</button>
                    </div>
                    <div ng-if="hasMoreData" ng-show='isLoading' style="text-align: center"><img src="assets/img/loading.gif" width="20" height="20"></div>
                    <div style="clear: both"></div>
                </div>
        </div>
        <!--<div class="modal-footer"></div>-->
    </div>
</div>
</div>