<nav class="navbar navbar-default navbar-fixed-top container" role="navigation">
    <div>
        <form>
            <div class="row" style="padding-left: 15px;">
                <div style="float: left;">
                    <button onclick="toggleLeftPanel()" class="btn btn-primary"><i
                            class="fa fa-bars"></i> MENÜ
                    </button>
                </div>
                <div style="float: left">
                    <ui-select ng-model="goToVerseParameters.chapter"
                               theme="bootstrap"
                               reset-search-input="false"
                               style="width: 150px;"
                               ng-enter=""
                            >
                        <ui-select-match placeholder="Sure">{{$select.selected.id}}: {{$select.selected.nameTr}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="chapter in chapters | selectionFilter: {id: $select.search,nameTr: $select.search,nameTr2: $select.search}">
                            {{chapter.id}}: {{chapter.nameTr}} / {{chapter.nameTr2}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div style="float: left" data-placement="bottom">
                    <input type="text" ng-model="goToVerseParameters.verse" size="3" ng-enter="verseNumberValidation()"
                           placeholder="Ayet" class="form-control"/>
                </div>
                <div style="float: left">
                    <input type="hidden" ng-model="goToVerseParameters.chapter"/>
                </div>

                <div style="float: left; ">
                    <button type="button" id="list_translations" ng-click="verseNumberValidation()"
                            class="btn btn-primary">
                        <i class="fa fa-arrow-right" style="font-size: 1.3em"></i><!-- goToVerse()-->
                    </button>
                    <span style="width: 10px;">&nbsp;</span>
                    
                     
                    <a ng-click="popoveropen()" ng-if="user!=null && currentPage=='home'" class="btn btn-primary" tabindex="0" role="button" data-placement="bottom" data-toggle="popover"  data-content="
                    <div class='form-control' style='width:220px; height:auto'>
                        <a href><div style='width:100%; height:40px; padding-top:8px' data-target='#myModal' data-dismiss='modal'  data-toggle='modal' type='button'> <i class='fa fa-user' style='font-size: 1.3em'></i>&nbsp;&nbsp;Meal Seçimi </div></a>
                        <hr style='padding: 0; margin-top:0 !important; margin-bottom:0 !important; height:1px; width:100%'/>
                        <a href><div style='width:100%; height:40px; padding-top:8px' data-target='#homearama' data-toggle='modal'><i class='fa fa-search' style='font-size: 1.3em'></i>&nbsp;&nbsp;Not Arama / Filtreleme</div></a>
                        <hr style='padding: 0; margin-top:0 !important; margin-bottom:0 !important; height:1px; width:100%' />
                        <a href><div style='width:100%; height: 40px; padding-top:8px;' ng-click='searchBookMarkModal()' data-target='#navbookmark' data-toggle='modal'><i class='fa fa-bookmark' style='font-size: 1.3em'></i>&nbsp;&nbsp;Ayraçlar (Kaldığım Yer)</div></a>
                        </div>"
                       data-html="true">Araçlar</a>
                    
                    <a ng-if="user==null && currentPage!='annotations'" class="btn btn-primary" style='height:40px; padding-top:8px' data-target='#myModal' data-toggle='modal' type='button'> <i class='fa fa-user' style='font-size: 1.3em'></i>&nbsp;&nbsp;Meal Seçimi </a>
                    

                    <!--Volkan Ekledi-->

                    <div class="btn-group" ng-class='{open: open}' ng-if="user!=null && currentPage=='home'">
                        <button style="background-color:#1abc9c; color:White; height:42px" class="btn"
                                ng-click='open=!open'>{{query_circle_dropdown.name}}
                        </button>
                        <button style="background-color:#1abc9c; height:42px" class="btn dropdown-toggle"
                                data-toggle="dropdown" ng-click='open=!open'><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li style="color:White" ng-repeat="item in circleDropdownArray" ><a
                                    style="color:White;" class="btn btn-primary"
                                    ng-click='selectDropdownCircle({{circleDropdownArray[$index]}})'>{{circleDropdownArray[$index].name}}</a>
                            </li>
                            <li><a style="color:White;" class="btn btn-primary" data-target="#homearama"
                                   data-toggle="modal">DETAYLI ARAMA</a></li>
                        </ul>
                    </div>

                    

                    <a class="btn btn-primary" data-target="#annotationsFilterModal" data-toggle="modal"
                       ng-if="user!=null && currentPage=='annotations'"><i class="fa fa-search"
                                                                           style="font-size: 1.3em"></i></a>

                    <select ng-model="allAnnotationsOrderBy"
                            ng-if="currentPage=='annotations'"
                            ng-change="allAnnotationsOrderByChanged(allAnnotationsOrderBy)"
                            >
                        <option value="verse">Ayet</option>
                        <option value="time">Zaman</option>
                    </select>
                </div>

                <div ng-show="facebookIsReady" class="facebook_area">
                    <div ng-if="user==null">
                        <button type="button" id="login" ng-click="login()" class="btn btn-primary">
                            <b>Birlikte</b> dosdoğru yolu bulmak için > <img src="assets/img/fb.png" width="25" height="25"> Giriş
                        </button>
                    </div>
                    <div ng-if="user!=null">
                        <button id="openbtn" onclick="togglePanel()" class="btn btn-primary" ng-if="currentPage=='home'" ><i
                                class="fa fa-edit" style="font-size: 1.3em"></i> Sayfadaki Notlar
                        </button>
                        <img ng-src="{{user.photo}}" height="40"/>
                        <!--<span style="vertical-align: bottom;">{{user.name}}</span>-->
                    </div>
                </div>
            </div>
            <div ng-include="'app/components/partials/nav_bookmark.htm'"></div>
        </form>
    </div>
    <!-- /.navbar-collapse -->
</nav>
<!-- /navbar -->
