<nav class="navbar navbar-default navbar-fixed-top container" role="navigation">
    <div>
        <form>
            <div class="row" style="padding-left: 15px;">
                <div style="float: left;">
                    <button onclick="toggleLeftPanel()" class="btn btn-primary"><i
                            class="fa fa-bars"></i> MENÜ
                    </button>
                </div>
                <div style="float: left">
                    <ui-select ng-model="chapterSelected"
                               theme="bootstrap"
                               reset-search-input="false"
                               style="width: 200px;"
                               on-select="setSelectedChapter($item)"
                               ng-enter=""
                            >
                        <ui-select-match placeholder="Sure">{{$select.selected.id}}: {{$select.selected.nameTr}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="chapter in chapters | selectionFilter: {id: $select.search,nameTr: $select.search}">
                            {{chapter.id}}: {{chapter.nameTr}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div style="float: left" data-placement="bottom">
                    <input type="text" ng-model="$parent.verse.number" size="3" ng-enter="goToChapter()"
                           placeholder="Ayet" class="form-control"/>
                </div>
                <div style="float: left">
                    <input type="hidden" ng-model="$parent.chapter_id" size="12" ng-enter="goToChapter()"/>
                </div>
                <input type="hidden" ng-model="$parent.author_mask" value="48"/>

                <div style="float: left; ">
                    <button type="button" id="list_translations" ng-click="goToChapter()" class="btn btn-primary">
                        <i class="fa fa-arrow-right" style="font-size: 1.3em"></i>
                    </button>
                    <span style="width: 10px;">&nbsp;</span>
                    <button class="btn btn-primary" data-target="#myModal" data-toggle="modal" type="button"
                            ng-if="currentPage!='annotations'">
                        <i class="fa fa-user" style="font-size: 1.3em"></i> Yazarlar
                    </button>
                    <a class="btn btn-primary" data-target="#annotationsFilterModal" data-toggle="modal"
                       ng-if="user!=null && currentPage=='annotations'"><i class="fa fa-search"
                                                                           style="font-size: 1.3em"></i></a>

                    <select ng-model="allAnnotationsOrderBy" ng-init="allAnnotationsOrderBy='verse'"
                            ng-if="currentPage=='annotations'"
                            ng-change="$parent.allAnnotationsOrderByChanged(this.allAnnotationsOrderBy)"
                            >
                        <option value="verse">Ayet</option>
                        <option value="time">Zaman</option>
                    </select>
                </div>

                <div ng-show="facebookIsReady" class="facebook_area">
                    <div ng-if="user==null">
                        <button type="button" id="login" ng-click="login()" class="btn btn-primary">
                            Giriş
                        </button>
                    </div>
                    <div ng-if="user!=null">
                        <button onclick="openPanel()" class="btn btn-primary" ng-if="getCurrentPage()=='home'"><i
                                class="fa fa-edit" style="font-size: 1.3em"></i> Sayfadaki Notlar
                        </button>
                        <img ng-src="{{user.photo}}" height="30"/>
                        <span style="vertical-align: bottom;">{{user.name}}</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /.navbar-collapse -->
</nav>
<!-- /navbar -->