<div class="cd-panel from-left" id="cd-panel-left">
    <div class="cd-panel-container">
        <div class="cd-panel-content" style="background-color: #FCFDFD;">
            <a style="float: right" href onclick="closeLeftPanel()"><i class="fa fa-chevron-left large_icon"></i></a>

            <div style="clear: both"></div>
            <div style="height: 20px">&nbsp;</div>
            <div class="side-menu">
                <div class="side-menu-container">
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: currentPage == 'profile_user'}" ng-if="user!=null">
                            <a href="#/profile/user/" class="leftMenuLink">Zaman Tüneli - Kişiler</a>
                        </li>
                        <li ng-class="{active: currentPage == 'profile_circle'}" ng-if="user!=null">
                            <a href="#/profile/circle/" class="leftMenuLink">Zaman Tüneli - Çevreler</a>
                        </li>
                        <li ng-class="{active: currentPage == 'home'}">
                            <a href="#/translations/" class="leftMenuLink">Sureler</a>
                        </li>
                        <li ng-class="{active: currentPage == 'search_on_translations'}">
                            <a href="#/search_translations/" class="leftMenuLink">Meallerde Ara</a>
                        </li>
                        <li ng-class="{active: currentPage == 'annotations'}" ng-if="user!=null">
                            <a href="#/annotations/">Ayet notları</a>
                        </li>
                        <!-- <li ng-class="{active: currentPage == 'help'}">
                             <a href="#/help/" ng-click="" onclick="">Yardım</a>
                         </li> -->
                         <li ng-class="{active: currentPage.search('inference')==0}" ng-if="user!=null">
                            <a href="#/inferences/">Çıkarım Notları</a>
                        </li>
                        <li ng-class="{active: currentPage.search('people')==0}" ng-if="user!=null">
                            <a href="#/people/circles/">Kişiler</a>
                        </li>
                        <li ng-class="{active: currentPage == 'verse_lists'}" ng-if="user!=null">
                            <a href="#/lists/verse">Ayet Listelerim</a>
                        </li>
                        <li ng-if="user!=null">
                            <a href ng-click="logOut()" onclick="closeLeftPanel()">Çıkış</a>
                        </li>
                        <li ng-if="user==null">
                            <a href ng-click="login()" onclick="closeLeftPanel()">Giriş</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>