<div class="cd-panel from-left" id="cd-panel-left">
    <!--     <a href="#0" class="cd-panel-close">Close</a>-->
    <div class="cd-panel-container">
        <div class="cd-panel-content">
            <div style="height: 35px;">&nbsp;</div>

            <h4 style="float: left">Menü</h4>
            <a style="float: right" href onclick="closeLeftPanel()">kapat</a>
            <div style="clear: both"></div>

            <ul class="nav navmenu-nav">
                <li><a href="#/chapter/1/author/{{author_mask}}/verse/1" class="leftMenuLink">Sureler</a></li>
                <li><a href="#/annotations/"
                       ng-if="user!=null">Tüm notlar
                </a></li>
                <li ng-if="user!=null">
                    <a href ng-click="log_out()" onclick="closeLeftPanel()">Çıkış</a>
                </li>
                <li ng-if="user==null">
                    <a href ng-click="login()" onclick="closeLeftPanel()">Giriş</a>
                </li>
            </ul>
        </div>
        <!-- cd-panel-content -->
    </div>
    <!-- cd-panel-container -->
</div>