<div>
    <select>
        <option ng-repeat="author in $parent.authors" value="author.id" ng-selected="author.id == data.authorId">
            {{author.name}}
        </option>
    </select>
    <input type="text" style="width: 50px" placeholder="Sure" ng-model="$parent.showVerseData.data.chapter"/>
    <input type="text" style="width: 50px" placeholder="Ayet" ng-model="$parent.showVerseData.data.verse"/>
    <input type="hidden" ng-model="$parent.showVerseData.data.authorId"/>
    <button class="btn btn-primary" ng-click="$parent.showVerseByParameters('go')">Git</button>
    <button class="btn" ng-click="$parent.showVerseByParameters('previous')"><i class="fa fa-arrow-circle-o-left"></i>
    </button>
    <button class="btn" ng-click="$parent.showVerseByParameters('next')"><i class="fa fa-arrow-circle-o-right"></i>
    </button>
    <div>
        {{data.content}}
    </div>
</div>
<hr/>