<!-- start of side menu part 1-->
<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced">
            <ion-nav-title>Ayet Notları</ion-nav-title>
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                <input type="hidden" ng-model="chapter_id"/>
                <input type="hidden" ng-model="verse_number"/>
                <input type="hidden" ng-model="author_mask"/>

            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon icon ion-search"
                        ng-click="openModal('all_annotations_filter')"></button>
                <button class="button button-icon icon ion-android-more-vertical"
                        ng-click="openModal('all_annotations_sort')"></button>

            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-navicon" menu-toggle="left">
            </button>

        </ion-nav-buttons>

        <ion-nav-view name="appContent"></ion-nav-view>
        <!-- end of side menu part 1 -->


        <ion-nav-view>
            <ion-content overflow-scroll="false">
                <div style="height: 65px;">&nbsp;</div>

                <div class="container">
                    <div class="dialog dialog-warning" style="padding:0 20px 10px 20px"
                         ng-if="allAnnotationsOpts.keyword ||filterTags.length >0|| annotationSearchAuthorSelection.length>0 ">
                        <div class="container" style="text-align: left;">
                            <div ng-if="allAnnotationsOpts.keyword"><strong>Kelime:</strong>
                                {{allAnnotationsOpts.keyword}}
                            </div>
                            <div ng-if="filterTags.length>0"><strong>Etiket:</strong>

                                <div ng-repeat="filterTag in filterTags" class="tag label label-info s_a_tag">
                                    {{filterTag.name}}
                                </div>
                            </div>

                            <div ng-if="annotationSearchAuthorSelection.length>0">
                                <div style="float:left;"><strong>Yazar:</strong></div>
                                <div ng-repeat="authorSearch in annotationSearchAuthorSelection" style="float: left">
                    <span ng-repeat="author in authors" ng-if="author.id==authorSearch"
                          style="float: left; padding-left:5px">
                        {{author.name}}
                    </span>{{$last ? '' : ', '}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div style="clear: both">&nbsp;</div>
                    <div class="card" ng-repeat="annotation in annotations">
                        <div class="item item-divider">
                            <a href='' style="text-decoration: none !important;" ng-click="showVerseDetail(annotation.verseId, usersForSearch, circlesForSearch)">{{annotation.verseId / 1000 | number:0}}:{{annotation.verseId % 1000}}</a>
                            <div style="float:right;">
                                <a  href="" ng-click="navigateTo('/profile/user/{{annotation.userId}}/')" style="color: darkblue;text-decoration: none;">{{annotation.userName | limitTo: 25}}</a>
                            </div>
                        </div>
                        <show-verse data="showVerseData.data"
                                    ng-if="showVerseData.annotationId==annotation.annotationId"></show-verse>
                        <div ng-if="showVerseData.annotationId!=annotation.annotationId" class="item item-text-wrap">
                            <blockquote
                                    ng-bind-html="annotation.translation_content | mark_verse_annotation:annotation:1 | newLineAllowed | to_trusted"></blockquote>

                            <span ng-bind-html="annotation.text | newLineAllowed | to_trusted" class="s_a_text"></span>

                            <div>
                                <button ng-repeat="annotationTag in annotation.tags" class="tag label label-info s_a_tag btn btn-xs btn-info verse_tag"
                                        style="border: 0;"
                                        ng-click="goToVerseTag(annotation.author_id, annotation.verseId, annotationTag, usersForSearch, circlesForSearch)" >
                                    {{annotationTag}}
                                </button>
                            </div>
                        </div>
                        <div class="item item-divider">
                            <div style="float: left">{{annotation.updated | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
                            <div style="float: right">
                                <button type="button" class="button button-balanced button-small" ng-click="editAnnotation(annotation)">
                                    <i
                                            class="fa fa-pencil-square-o "></i>
                                </button>
                                <button type="button" class="button button-assertive button-small"
                                        ng-click="deleteAnnotation(annotation)"><i
                                        class="fa fa-trash-o"></i></button>
                            </div>
                        </div>

                    </div>

                    <div style="text-align: center; padding-top:10px;" ng-if="allAnnotationsOpts.hasMore==true">
                        <button ng-click="get_all_annotations()" class="btn btn-info btn-hg">Daha fazla</button>
                    </div>

                </div>

                <span ng-init="get_all_annotations()"></span>

                <div style="height:50px;">&nbsp;</div>
            </ion-content>
        </ion-nav-view>
        <!-- start of side menu part 2-->
    </ion-side-menu-content>
    <div ng-include="'components/navigation/left_menu.html'"></div>
</ion-side-menus>
<!-- end of side menu part 2-->