<ion-side-menus>
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced" align-title="center">
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <ion-nav-title>{{'Ayet Notu' | translate}}</ion-nav-title>
        </ion-nav-bar>
        <ion-nav-view name="appContent"></ion-nav-view>
        <ion-nav-view cache-view="true">
            <ion-content overflow-scroll="false">
                <div style="height: 25px;">&nbsp;</div>
                <div class="container" ng-if="authorizedAnnotationDisplay == 1">
                    <div style="clear: both">&nbsp;</div>
                    <div ng-if="annotation != null">
                        <div class="card">
                            <div class="item item-divider">
                                <div class="row">
                                    <a href="" ng-click="navigateTo('/profile/user/{{annotation.userId}}')" style="margin-left: 19px;margin-top: 10px;text-decoration: none;">
                                        <div>{{annotation.userName | limitTo: 25}}</div>
                                    </a>
                                    <div style="float: right;margin-top: 10px;margin-left: auto;margin-right: 0;">
                                        <span ng-bind-html="annotation.updated | time_in_string | to_trusted"></span>
                                    </div>
                                </div>
                                <hr style="width: 100% !important;border-color: white !important;">
                                <div>
                                    <a href='' style="text-decoration: none !important;margin-left: 10px;" ng-click="showVerseDetail(annotation.verseId, usersForSearch, circlesForSearch)">
                                        <b>{{annotation.verseId / 1000 | number:0}}:{{annotation.verseId % 1000}}</b>
                                    </a> <span style="font-size: small">({{authorMap[annotation.author_id].name}})</span>
                                    <span style="float: right">
                                        <button type="button" class="button button-balanced button-small"
                                                ng-if="annotation.userId==user.id"
                                                ng-click="showEditor(annotation)">
                                            <i class="fa fa-pencil-square-o "></i>
                                        </button>
                                        <button type="button" class="button button-assertive button-small"
                                                ng-if="annotation.userId==user.id"
                                                ng-click="deleteAnnotation(annotation)"><i
                                                class="fa fa-trash-o"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="item item-text-wrap">
                                <blockquote
                                        ng-bind-html="annotation.translation_content | mark_verse_annotation:annotation:1 | newLineAllowed | to_trusted"></blockquote>
                                <span ng-bind-html="annotation.text | newLineAllowed | to_trusted" class="s_a_text"></span>
                                <div>
                                    <button ng-repeat="annotationTag in annotation.tags" class="tag label label-info s_a_tag btn btn-xs btn-info verse_tag"
                                            style="border: 0;"
                                            ng-click="goToVerseTag(annotation.author_id, annotation.verseId, annotationTag, usersForSearch, circlesForSearch)" >
                                        {{annotationTag}}
                                    </button>
                                </div>
                            </div>
                            <div class="item item-divider">
                            <div class="fit-content">
                                <span ng-class="{'voted-like': (annotation.vote != null && annotation.vote.content == 1), 'unvoted' : !(annotation.vote != null && annotation.vote.content == 1)}"
                                      ng-click="doVote(annotation,'annotations', 1)">
                                    <i class="fa fa-thumbs-up"></i> {{annotation.voteRates.like}}
                                </span>
                                <span ng-class="{'voted-dislike': (annotation.vote != null && annotation.vote.content == 0), 'unvoted' : !(annotation.vote != null && annotation.vote.content == 0)}"
                                      ng-click="doVote(annotation,'annotations', 0)">
                                    <i class="fa fa-thumbs-down"></i> {{annotation.voteRates.dislike}}
                                </span>
                                <span ng-disabled="(annotation.voteRates.dislike + annotation.voteRates.like) == 0"
                                      ng-click="showVoteResults(annotation, 'annotations')">
                                    <i class="fa fa-pie-chart"></i> {{(annotation.voteRates.dislike + annotation.voteRates.like)}} {{'Oy' | translate}}
                                </span>
                                <span class="make_comment"
                                      ng-click="displayCommentModal(null, null)">
                                    <a translate>Yorum Yaz</a>
                                </span>
                            </div>
                        </div>
                        </div>

                        <h5 align="left" style="width: 100%;margin-left:20px;" ng-if="annotation.comments.length>0" translate>Yorumlar</h5>
                        <hr width="100%" ng-if="annotation.comments.length>0"/>
                        <div ng-repeat="comment in annotation.comments"
                             style="width: 100%;border-radius: 15px;padding-top: 10px !important;background-color: #f5f5f5;"
                             ng-init="outerIndex=$index"
                             class="list well">
                            <div class="row" style="text-align: justify">
                                <div style="width: 20%;margin-right: 4px;">
                                    <a href="" ng-click="navigateTo('/profile/user/{{comment.owner.user_id}}/')" style="text-decoration: blink;width: 100%">
                                        <img style="width: 60px;height: 60px;border-radius: 50%;" ng-src="{{comment.owner.photo}}">
                                    </a>
                                    <span ng-bind-html="comment.comment.created | time_in_string | to_trusted" style="margin-left: 3px;margin-right: 3px;color: black;"></span>
                                </div>
                                <span ng-click="openFooterMenu(annotation.comments, comment.comment, outerIndex)">
                                <a href="" ng-click="navigateTo('/profile/user/{{comment.owner.user_id}}/')">
                                    {{comment.owner.name}}
                                </a>
                                <span ng-bind-html="comment.comment.content | display_comment | to_trusted"></span>
                            </span>
                            </div>
                            <div class="row fit-content" >
                            <span ng-class="{ 'voted-like': (comment.vote != null && comment.vote.content == 1), 'unvoted' : !(comment.vote != null && comment.vote.content == 1)}"
                                  ng-click="doVoteForComment(comment, comment.comment.annotationId, 'annotations',1)">
                                <i class="fa fa-thumbs-up"></i> {{comment.voteRates.like}}
                            </span>
                                <span ng-class="{'voted-dislike': (comment.vote != null && comment.vote.content == 0), 'unvoted' : !(comment.vote != null && comment.vote.content == 0)}"
                                      style="margin-left: 3px;margin-right: 3px;"
                                      ng-click="doVoteForComment(comment, comment.comment.annotationId, 'annotations',0)">
                                <i class="fa fa-thumbs-down"></i> {{comment.voteRates.dislike}}
                            </span>
                                <span class="make_comment" ng-class="{'disabled' : (comment.voteRates.dislike + comment.voteRates.like) == 0}"
                                      style="margin-left: 3px;margin-right: 3px;"
                                      ng-click="showVoteResults(comment, 'annotations', true, comment.comment.annotationId)">
                                <i class="fa fa-pie-chart"></i> {{(comment.voteRates.dislike + comment.voteRates.like)}} {{'Oy' | translate}}
                            </span>
                                <span class="make_comment"
                                      ng-click="displayCommentModal(comment.comment.id, outerIndex)">
                                <a style="color: #00f;" translate>Yanıtla</a>
                            </span>
                                <span ng-if="comment.comment.childs.length > 2 && !comment.showChilds"
                                      style="margin-left: 3px;margin-right: 3px;"
                                      ng-click="comment.showChilds=true">
                                <i class="fa fa-mail-forward"></i> <span style="color: #00f;">{{comment.comment.childs.length}} {{'Yanıt' | translate}}</span>
                            </span>
                            </div>
                            <hr width="100%"/>
                            <div ng-repeat="child_comment in comment.comment.childs"
                                 style="width: 100%;border-radius: 15px;padding-top: 10px !important;margin-top: 10px;"
                                 ng-init="innerIndex=$index"
                                 class="row" ng-if="comment.showChilds">
                                <div style="width: 20%;margin-right: 4px">
                                    <a href="" ng-click="navigateTo('/profile/user/{{child_comment.owner.user_id}}/')" style="width: 100%">
                                        <img style="float:right;width: 30px; max-height: 30px;border-radius: 50%; " ng-src="{{child_comment.owner.photo}}"><br/>
                                    </a>
                                    <span style="width: 150px;text-align: right;float: right" ng-bind-html="child_comment.comment.created | time_in_string | to_trusted"></span>
                                </div>
                                <div style="width: 80%">
                                <span ng-click="openFooterMenu(comment.comment.childs, child_comment.comment, innerIndex)"
                                >
                                    <a href="" ng-click="navigateTo('/profile/user/{{child_comment.owner.user_id}}/')">
                                        {{child_comment.owner.name}}
                                    </a>
                                    <span ng-bind-html="child_comment.comment.content | display_comment | to_trusted"></span>
                                </span>
                                    <div id="footer_area_child" class="row" style="margin-top: 15px;">
                                        <div class="fit-content" style="width: 100%">
                                        <span ng-class="{ 'voted-like': (child_comment.vote != null && child_comment.vote.content == 1), 'unvoted' : !(child_comment.vote != null && child_comment.vote.content == 1)}"
                                              ng-click="doVoteForComment(child_comment, child_comment.comment.annotationId, 'annotations',1)">
                                            <i class="fa fa-thumbs-up"></i> {{child_comment.voteRates.like}}
                                        </span>
                                            <span ng-class="{'voted-dislike': (child_comment.vote != null && child_comment.vote.content == 0), 'unvoted' : !(child_comment.vote != null && child_comment.vote.content == 0)}"
                                                  ng-click="doVoteForComment(child_comment, child_comment.comment.annotationId, 'annotations',0)">
                                            <i class="fa fa-thumbs-down"></i> {{child_comment.voteRates.dislike}}
                                        </span>
                                            <span class="make_comment" ng-class="{'disabled' : (child_comment.voteRates.dislike + child_comment.voteRates.like) == 0}"
                                                  ng-click="showVoteResults(child_comment, 'annotations', true, child_comment.comment.annotationId)">
                                            <i class="fa fa-pie-chart"></i> {{child_comment.voteRates.dislike + child_comment.voteRates.like}} {{'Oy' | translate}}
                                        </span>
                                            <span class="make_comment"
                                                  ng-click="displayCommentModal(comment.comment.id, outerIndex)">
                                            <a style="color: blue;" translate>Yanıtla</a>
                                        </span>
                                        </div>
                                    </div>
                                    <hr width="100%"/>
                                </div>
                            </div>
                        </div>
                        <!-- new or update comment area-->
                        <div style="width: 100%;background-color:#f4eeed; padding-top: 10px !important;" ng-if="user!=null">
                            <div class="row">
                                <a href="" ng-click="navigateTo('/profile/user/{{user.id}}/')">
                                    <img style="max-width: 60px; max-height: 60px;border-radius: 50%;" ng-src="{{user.photo}}"><br/>
                                </a>
                                <textarea readonly ng-click="displayCommentModal(null, null)"
                                          style="margin-left:10px;width: 100%;height: 51px;border-radius: 2px;
                                        background-color: white;border: 1px black solid;"
                                          placeholder="{{'Yorum Yaz' | translate}}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="annotationRemoved" style="margin-top: 30px; text-align: center">
                    <strong translate>Not silindi</strong>
                </div>
                <div ng-if="authorizedAnnotationDisplay == 2" style="margin-top: 50px;">
                    <strong translate>Bu notu görüntüleme yetkisine sahip değilsiniz! <br> Henüz giriş yapmadınız ya da not sizinle paylaşılmadı</strong>
                </div>
                <div style="height:50px;">&nbsp;</div>
            </ion-content>
        </ion-nav-view>
    </ion-side-menu-content>
    <div ng-include="'components/navigation/left_menu.html'"></div>
</ion-side-menus>