<form name="myForm">
    <div class="control-group" ng-class="{error: myForm.name.$invalid && !myForm.name.$pristine}">
        <label translate>Name</label>
        <input type="text" name="name" ng-model="project.name" required>
    <span ng-show="myForm.name.$error.required && !myForm.name.$pristine" class="help-inline">
    {{'Required' | translate}} {{myForm.name.$pristine}}</span>
    </div>

    <div class="control-group" ng-class="{error: myForm.site.$invalid && !myForm.site.$pristine}">
        <label translate>Website</label>
        <input type="url" name="site" ng-model="project.site" required>
    <span ng-show="myForm.site.$error.required && !myForm.site.$pristine" class="help-inline" translate>Required</span>
    <span ng-show="myForm.site.$error.url" class="help-inline" translate>Not a URL</span>
    </div>

    <label translate>Description</label>
    <textarea name="description" ng-model="project.description"></textarea>

    <br>
    <a href="#/" class="btn" translate>Cancel</a>
    <button ng-click="save()" ng-disabled="myForm.$invalid"
            class="btn btn-primary" translate>Save</button>
    <button ng-click="destroy()"
            ng-show="project.$id" class="btn btn-danger" translate>Delete</button>
</form>

