<ion-side-menus>
    <ion-side-menu-content drag-content="false">
        <ion-nav-view cache-view="true">
            <ion-content overflow-scroll="true" delegate-handle="content"  class="scroll_content"
                         style="background-color: #F89406;color: #ffffff;">
                <div style="width: 90%;height: 275px;display: table;margin: 0px auto;">
                      <div style="margin: 0px auto;display: table-cell;vertical-align: middle;text-align: center;">
                        Kuran Çalış
                      </div>
                </div>
                <div>
                    <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()"
                       style="margin-left: 5%;margin-right: 5%;border-radius: 5px;background-color: #3a5795;color: #ffffff;">Login with Facebook</a>
                </div>
            </ion-content>
        </ion-nav-view>
    </ion-side-menu-content>
</ion-side-menus>