<body>
<div class="container">
    <div ng-include="'app/components/search/translation_search_navigation.html'"></div>
    <div ng-include="'app/components/partials/off_canvas_menu.html'"></div>
    <div ng-include="'app/components/partials/detailed_word.html'"></div>
    <div ng-include="'app/components/partials/detailed_verse.html'"></div>
    <div class="nav-bottom"></div>

    <div class="row">
        <div class="col-xs-6" style="margin-left: 100px;" data-placement="bottom">
            <input type="text" ng-model="verseSearchText"
                   size="50" placeholder="{{'Meallerde ara' | translate}}"
                   class="form-control" ng-enter="searchTranslations()"
                   ng-change="searchTextChange(verseSearchText)"
                   min-length="3"/>
        </div>
    </div>
    <br>
    <div style="float: left;margin-left: 100px;">
        <select ng-model="searchTranslationsAuthor"
                ng-options="author.value as author.text | translate for author in searchAuthorMap"
                ng-change="searchTranslationsAuthorChanged(searchTranslationsAuthor)"
                class="form-control">
            <option style="display:none" value="" translate>Meal Seç</option>
        </select>
    </div>

    <div style="float: left;margin-left: 20px;">
        <select name="author-selection"
                ng-model="currentAuthor"
                ng-options="author.id as author.name for author in authors | filter : authorsByLanguage()"
                class="form-control">
            <option value="" translate>Tüm Mealler</option>
        </select>
    </div>

    <!--<div style="float: left;margin-left: 20px;">
        <button ng-click="expandAllTranslations()" class="btn btn-primary">
            {{'Tüm mealleri aç' | translate}}
        </button>
    </div>-->

    <div style="float: left;margin-left: 20px;">
        <a class="btn btn-primary" ng-click="searchTranslations()">
            <i class="fa fa-search" style="font-size: 1.3em"></i>
        </a>
    </div>

    <div style="height: 40px;"></div>
    <div class="row" style="margin-top: 25px;">
        <div class="col-xs-12" id="translations">
            <div ng-repeat="verse in verses">
                <div class="well translations col-xs-12" id="v_{{verse.id}}">
                    <div class="row">
                        <div ng-repeat="translation in verse.translations">
                            <div class="col-xs-1" ng-if="$first" style="text-align: center">
                                <div class="chapter_verse_number">
                                    <a href style="color: blue" ng-click='showVerseDetail(verse.id)' data-target='#detailedVerseModal' data-toggle='modal'>
                                        <strong>{{translation.chapter}}:{{translation.verse}}</strong>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-1" ng-show="verse.selectedSingleAuthor==translation.authorId">
                                <a href ng-click="multipleAuthorsView($parent.$index)" ng-show="verse.translations.length>1"><i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-xs-10" id="t_{{translation.id}}" style="float: right">
                                <div class="col-xs-3 authorDiv_{{authorMap[translation.authorId].color}}" ng-show="!verse.showSingleAuthor">
                                    <span class="author">
                                        <a href ng-click="singleAuthorView({{translation.authorId}},$parent.$index)"><i class="fa fa-minus-square-o" aria-hidden="true"></i></a>
                                    </span>
                                    {{authorMap[translation.authorId].name}}
                                </div>
                                <div class="col-xs-3 authorDiv_{{authorMap[translation.authorId].color}}" ng-show="verse.selectedSingleAuthor==translation.authorId">
                                    {{authorMap[translation.authorId].name}}
                                </div>
                                <div id="tt_{{translation.id}}" ng-show="verse.selectedSingleAuthor==translation.authorId || !verse.showSingleAuthor"
                                     class="col-xs-9"
                                     ng-class="{translation_rtl: authorMap[translation.authorId].language=='ar', translation_content: authorMap[translation.authorId].language!='ar'}"><span
                                        ng-bind-html="translation.content | with_search_text:verseSearchedText | to_trusted"></span>
                                </div>
                            </div>
                            <div class="col-xs-8" style="float: right" ng-if="!$last && !verse.showSingleAuthor">
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /row-->
</div>
<!-- /container-->
</body>