<div class="modal modal-fullscreen" id="createAccountModal" ng-controller="AccountCtrl">
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced" align-title="center">
        <ion-nav-buttons side="left" data-tap-disabled="true">
            <button class="button button-icon icon-left ion-ios-arrow-back"
                    ng-click="closeModal('user_create_account');"
                    style="float: left">&nbsp;{{'Kapat' | translate}}
            </button>
            <!-- <button class="button button-icon icon ion-ios-arrow-left" onclick=""> Giriş</button>-->
        </ion-nav-buttons>
        <ion-nav-title>{{'Hesap Oluştur' | translate}}</ion-nav-title>
    </ion-nav-bar>
    <ion-content delegate-handle="content">
        <div ng-if="!accountCreateRequestSent">
            <div style="height: 50px"></div>
            <div class="item item-text-wrap">
                <span class="s_a_text" style='font-size: 10pt;' translate>Facebook hesabınız ile giriş yaparsanız arkadaşlarınızı ve çalışmalarınızı bulabilirsiniz</span>
                <button type="button" class="button button-block button-positive" ng-click="login()">
                    <i class="fa fa-facebook-square fa-2x" style="vertical-align: middle"></i>&nbsp; {{'Facebook ile Giriş' | translate}}
                </button>
            </div>
            <hr width="100%"/>
            <div class="item item-text-wrap">
                <label class="item item-input" >
                    <input type="text" ng-model="user.name" size="50"
                           placeholder="{{'İsminiz' | translate}}"/>
                </label>
                <label class="item item-input" >
                    <input type="email" ng-model="user.email" size="50"
                           placeholder="{{'E-posta' | translate}}"/>
                </label>
                <label class="item item-input" >
                    <input type="password" ng-model="user.password" size="50"
                           placeholder="{{'Şifre' | translate}}"/>
                </label>
                <button class="button button-block button-balanced" ng-click="createAccount()" translate>Hesap Oluştur</button>
            </div>
        </div>
        <div ng-if="accountCreateRequestSent">
            <div style="height: 50px"></div>
            <div style="text-align: center">
                <br>
                <div><i class="fa fa-envelope-o" style="font-size: 5em; color:#69A74E"></i></div>
                <br>
                <p translate>Kuran Çalış'a üye olduğunuz için çok teşekkür ederiz.</p>
                <p translate="ACCOUNT_CREATION_INFO_MESSAGE">Sistemimizin faydalı olabilmesi için temiz ve seviyeli içerik çok önemli. Bu sebeple e-posta adresinize bir onay iletisi gönderidik. Lütfen iletideki bağlantıyı kullanarak kaydınızı tamamlayınız.</p>
            </div>
        </div>
        <div style="height:20px"></div>
    </ion-content>
</div>