<div class="modal modal-fullscreen" id="resetPasswordRequestModal" ng-controller="AccountCtrl">
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced" align-title="center">
        <ion-nav-buttons side="left" data-tap-disabled="true">
            <button class="button button-icon icon-left ion-ios-arrow-back"
                    ng-click="closeModal('user_reset_password_request');"
                    style="float: left">&nbsp;{{'Kapat' | translate}}
            </button>
        </ion-nav-buttons>
        <ion-nav-title>{{'Şifremi Unuttum' | translate}}</ion-nav-title>
    </ion-nav-bar>
    <ion-content delegate-handle="content">
        <div style="height: 50px"></div>
        <div ng-if="!resetPasswordRequestSent">
            <div class="item item-text-wrap">
                <div ng-if="message">
                    <span class="s_a_text" style='font-size: 10pt; color:#FF0000'>
                        <i class="fa fa-exclamation-triangle" style="font-size: 15pt; color:#FF0000"></i>
                        {{message | translate}}
                    </span>
                </div>
                <label class="item item-input" >
                    <input type="email" name="email" ng-model="user.email"
                           size="50" placeholder="{{'E-posta' | translate}}"
                           class="form-control" required/>
                </label>
               <button class="button button-block button-balanced" ng-click="resetPasswordRequest()" translate>Şifremi Sıfırla</button> <!--ng-disabled="!loginForm.$valid"-->
            </div>
        </div>
        <div ng-if="resetPasswordRequestSent">
            <div  style="text-align: center">
                <br>
                <div><i class="fa fa-envelope-o" style="font-size: 4em; color:#69A74E"></i></div>
                <br>
                <p translate>Şifre sıfırlama isteği e-posta adresinize gönderildi.</p>
            </div>
        </div>
        <div style="height:20px"></div>
    </ion-content>
</div>