<div class="modal modal-fullscreen" id="setPasswordModal" ng-controller="AccountCtrl">
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-balanced" align-title="center">
        <ion-nav-buttons side="left" data-tap-disabled="true">
            <button class="button button-icon icon-left ion-ios-arrow-back"
                    ng-click="closeModal('user_set_password');"
                    style="float: left">&nbsp;{{'Kapat' | translate}}
            </button>
            <!-- <button class="button button-icon icon ion-ios-arrow-left" onclick=""> Giriş</button>-->
        </ion-nav-buttons>
        <ion-nav-title>
            {{'Şifre Sıfırlama' | translate}}
            <select name="language-selection"
                    ng-model="selectedLanguage"
                    ng-options="language.name as language.label for language in languages"
                    ng-selected="selectedLanguage==language.name"
                    ng-change="changeLanguage(selectedLanguage)"
                    class="pull-right"
                    style="margin-top: 10px">
            </select>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content delegate-handle="content">
        <div style="height: 50px"></div>
        <div ng-if="!isPasswordChanged">
            <div class="item item-text-wrap">
                <div ng-if="message">
                    <i class="fa fa-exclamation-triangle" style="font-size: 13pt; color:#FF0000"></i>
                    <span style="font-size: smaller; color:#FF0000">{{message | translate}}</span>
                </div>
                <label class="item item-input" >
                    <input type="password" name="password" ng-model="user.password"
                           size="50" placeholder="{{'Yeni şifreniz' | translate}}"
                           class="form-control" required/>
                </label>
                <label class="item item-input" >
                    <input type="password" name="confirm_password" ng-model="user.confirm_password"
                           size="50" placeholder="{{'Yeni şifre tekrar' | translate}}"
                           class="form-control" required data-password-verify="user.password"/>
                </label>
                <button class="button button-block button-balanced" ng-click="resetPassword()" translate>Şifremi değiştir</button>
            </div>
        </div>
        <div ng-if="isPasswordChanged">
            <div style="text-align: center">
                <br><br>
                <div><i class="fa fa-check-circle-o" style="font-size: 5em; color:#69A74E"></i></div>
                <br>
                <p translate>Şifreniz başarıyla değiştirildi</p>
                <a href ng-click="returnHome()"><i class="fa fa-home"></i> <b translate>Ana sayfa</b></a>
                <br>
            </div>
        </div>
        <div style="height:20px"></div>
    </ion-content>
</div>